In [7]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [8]:
df=pd.read_csv('house_rent_final.csv')
df = df.fillna(0)

In [9]:
df

,Unnamed: 0,Listing Type,Property Type,Building Type,City,Locality,Area,Rent,Furnishing Status,Number of Rooms,...,Security Deposit,Available From,Age of Property (Years),Unit No,Total Floor Count,Balcony,Open/Uncovered Parking,Deposit amount,crime,hospital
0,0,Rent,Residential,Apartment,Bangalore,Whitefield,1190 Sq.Ft. (Carpet Area),"75,000",Semi-Furnished,3.5,...,Other,Immediately,4-Feb,1,19,Connected,0,480000,no,no
1,1,Rent,Residential,Apartment,Bangalore,Devanahalli,1250 Sq.Ft. (Built-up Area),"30,000",Semi-Furnished,2,...,Other,Immediately,0-1,0,24,Connected,1,200000,no,no
2,2,Rent,Residential,Apartment,Bangalore,Kadubeesanahalli,1184 Sq.Ft. (Saleable Area),"52,000",Semi-Furnished,0,...,Other,Immediately,0,1,Ground floor,0,0,300000,no,no
3,3,Rent,Residential,Apartment,Bangalore,Ashok Nagar,1250 Sq.Ft. (Built-up Area),"60,000",Furnished,2,...,Other,Immediately,10+,2,5,"Connected,Room-attached",0,500000,no,no
4,4,Rent,Residential,Apartment,Bangalore,Devanahalli,1700 Sq.Ft. (Built-up Area),"31,000",Semi-Furnished,3,...,Other,Immediately,0-1,0,14,Individual,1,200000,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3597,3603,Rent,Residential,Apartment,Bangalore,Hebbal,1664 Sq.Ft. (Carpet Area),"10,000",Semi-Furnished,3,...,Other,Immediately,4-Feb,1,3,Room-attached,0,200000,no,no
3598,3604,Rent,Commercial,Office Space,Bangalore,Residency Road,1499 Sq.Ft. (Built-up Area),0,Unfurnished,0,...,0,0,0,0,0,0,0,0,no,no
3599,3605,Rent,Residential,Apartment,Bangalore,Yelahanka,1892 Sq.Ft. (Saleable Area),"45,000",Semi-Furnished,3,...,Other,Immediately,0-1,1,12,0,0,400000,no,no
3600,3606,Rent,Residential,Apartment,Bangalore,Kudlu,600 Sq.Ft. (Built-up Area),"20,000",Furnished,1,...,Other,Later,0-1,1,4,Connected,1,120000,no,no
3601,3607,Rent,Residential,Apartment,Bangalore,Doddanekundi,650 Sq.Ft. (Built-up Area),"20,000",Furnished,1,...,Other,Immediately,7-May,1,6,0,0,80000,no,no

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3602 entries, 0 to 3601
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               3602 non-null   int64
 1   Listing Type             3602 non-null   object
 2   Property Type            3602 non-null   object
 3   Building Type            3602 non-null   object
 4   City                     3602 non-null   object
 5   Locality                 3602 non-null   object
 6   Area                     3602 non-null   object
 7   Rent                     3602 non-null   object
 8   Furnishing Status        3602 non-null   object
 9   Number of Rooms          3602 non-null   object
 10  Number of Bathroom       3602 non-null   object
 11  Covered Parking          3602 non-null   object
 12  View                     3602 non-null   object
 13  Floor Number             3602 non-null   object
 14  Tower/Block              3602 non-null   object
 15  Additional Rooms         3602 non-null   object
 16  Security Deposit         3602 non-null   object
 17  Available From           3602 non-null   object
 18  Age of Property (Years)  3602 non-null   object
 19  Unit No                  3602 non-null   object
 20  Total Floor Count        3602 non-null   object
 21  Balcony                  3602 non-null   object
 22  Open/Uncovered Parking   3602 non-null   object
 23  Deposit amount           3602 non-null   object
 24  crime                    3602 non-null   object
 25  hospital                 3602 non-null   object
dtypes: int64(1), object(25)
memory usage: 731.8+ KB

# data_cleaning

In [11]:
def square_feet_to_square_yards(square_feet):
    square_yards = int(square_feet) / 9.0
    return round(square_yards)

In [12]:
def acres_to_square_yards(acres):
    square_yards = int(acres) * 4840
    return square_yards

In [13]:
def get_feet(area):
    area=area.split('(')
    area=area[0].split(' ')
    return area

In [14]:
def get_area(a):

    area_data=get_feet(a)
    if area_data[1]=='Sq.Ft.':
        converted_yard=square_feet_to_square_yards(area_data[0])
    elif area_data[1]=='Acre':
        converted_yard=acres_to_square_yards(area_data[0])
    else:
        converted_yard=area_data[0]
    return converted_yard

In [15]:
def convert_rent(a):
    try:
        rent_value = ''
        if 'L' in a:
            print('yes')
            a = a.replace('L', '')
            print(a)
            a=a.strip()
            a=int(a)
            print(type(a),a)
            print(a,'eurgvrb')
            rent_value = int(a) * 100000 
        else:
            print('no')
            a = a.replace(',', '')
            rent_value = int(a)
            
#         if int(rent_value) <= 10000:
#             print('Rent is less than or equal to 10000')
#             rent.append(5000)
#         elif 10000 < int(rent_value) <= 20000:
#             print('Rent is between 10001 and 20000')
#             rent.append(5000)
#         elif 20000 < int(rent_value) <= 30000:
#             print('Rent is between 20001 and 30000')
#             rent.append(5000)
#         elif 30000 < int(rent_value) <= 40000:
#             print('Rent is between 30001 and 40000')
#             rent.append(5000)
#         elif 40000 < int(rent_value) <= 50000:
#             print('Rent is between 40001 and 50000')
#             rent.append(5000)
#         elif 50000 < int(rent_value) <= 60000:
#             print('Rent is between 50001 and 60000')
#             rent.append(5000)
#         elif 60000 < int(rent_value) <= 70000:
#             print('Rent is between 60001 and 70000')
#             rent.append(5000)
#         elif 70000 < int(rent_value) <= 80000:
#             print('Rent is between 70001 and 80000')
#             rent.append(5000)
#         elif 80000 < int(rent_value) <= 80000:
#             print('Rent is between 80001 and 80000')
#             rent.append(5000)
#         elif 80000 < int(rent_value) <= 90000:
#             print('Rent is between 80001 and 90000') 
#         elif 80000 < int(rent_value) <= 90000:
#             print('Rent is between 90001 and 99999') 
#         else:
#             print('Rent is greater than 100000')     

        return rent_value
    except Exception as e:
        print(f"Error: {e}")
        return 0

In [16]:
rent=[]
for x in range(len(df)):
    
#     converted_yard=get_area(df.iloc[x]['Area'])
#      yard.append(converted_yard)
#     print(type(df.iloc[x]['Rent']))
    rent_value = df.iloc[x]['Rent']
    converted_rent = convert_rent(rent_value)
    print(x, converted_rent, 'done')
    rent.append(converted_rent)

no
0 75000 done
no
1 30000 done
no
2 52000 done
no
3 60000 done
no
4 31000 done
no
5 37000 done
no
6 200000 done
no
7 87000 done
no
8 70000 done
no
9 80000 done
no
10 95000 done
no
11 55000 done
no
12 75000 done
no
13 30000 done
no
14 44000 done
no
15 31000 done
no
16 37000 done
no
17 200000 done
no
18 87000 done
no
19 70000 done
no
20 80000 done
no
21 95000 done
no
22 55000 done
no
23 45000 done
no
24 39000 done
no
25 50000 done
no
26 229000 done
no
27 50000 done
no
28 50000 done
no
29 95000 done
no
30 38000 done
no
31 125000 done
no
32 40000 done
Error: argument of type 'int' is not iterable
33 0 done
no
34 30000 done
no
35 12000 done
Error: argument of type 'int' is not iterable
36 0 done
no
37 60000 done
no
38 50000 done
no
39 60000 done
no
40 55000 done
no
41 37000 done
no
42 37000 done
no
43 48000 done
no
44 51000 done
no
45 50000 done
no
46 276000 done
no
47 25000 done
no
48 35000 done
no
49 66000 done
no
50 40000 done
no
51 13000 done
no
52 37000 done
no
53 509000 done
no
54 40000 done
no
55 47000 done
no
56 40000 done
no
57 45000 done
no
58 50000 done
no
59 33000 done
no
60 70000 done
no
61 47000 done
no
62 36000 done
no
63 34000 done
no
64 35000 done
no
65 12000 done
no
66 94000 done
no
67 122000 done
no
68 12000 done
no
69 30000 done
no
70 40000 done
no
71 90000 done
no
72 35000 done
no
73 48000 done
no
74 30000 done
no
75 47000 done
no
76 40000 done
no
77 46000 done
no
78 75000 done
no
79 16000 done
no
80 53000 done
no
81 32000 done
no
82 37000 done
no
83 30000 done
Error: argument of type 'int' is not iterable
84 0 done
no
85 30000 done
no
86 90000 done
Error: argument of type 'int' is not iterable
87 0 done
no
88 57000 done
no
89 34000 done
no
90 31000 done
no
91 53000 done
no
92 50000 done
no
93 600000 done
no
94 36000 done
no
95 75000 done
no
96 30000 done
no
97 32000 done
Error: argument of type 'int' is not iterable
98 0 done
no
99 40000 done
no
100 70000 done
no
101 67000 done
no
102 37000 done
no
103 40000 done
no
104 65000 done
no
105 65000 done
no
106 42000 done
no
107 34000 done
no
108 37000 done
no
109 27000 done
no
110 31000 done
no
111 35000 done
no
112 45000 done
no
113 22000 done
no
114 52000 done
no
115 75000 done
no
116 50000 done
no
117 70000 done
no
118 1125000 done
no
119 40000 done
no
120 30000 done
no
121 65000 done
no
122 70000 done
no
123 32000 done
no
124 40000 done
no
125 37000 done
no
126 28000 done
no
127 35000 done
no
128 45000 done
no
129 30000 done
no
130 76000 done
no
131 45000 done
no
132 54000 done
no
133 225000 done
no
134 70000 done
no
135 990000 done
no
136 40000 done
no
137 300000 done
no
138 23000 done
no
139 27000 done
no
140 38000 done
Error: argument of type 'int' is not iterable
141 0 done
no
142 55000 done
no
143 47000 done
no
144 75000 done
no
145 45000 done
no
146 56000 done
no
147 30000 done
no
148 55000 done
no
149 55000 done
no
150 60000 done
no
151 73000 done
no
152 85000 done
no
153 100000 done
no
154 45000 done
no
155 30000 done
no
156 52000 done
no
157 47000 done
no
158 40000 done
no
159 35000 done
no
160 65000 done
no
161 30000 done
no
162 225000 done
no
163 35000 done
no
164 45000 done
no
165 32000 done
no
166 52000 done
no
167 80000 done
no
168 45000 done
no
169 67000 done
no
170 70000 done
no
171 51000 done
no
172 25000 done
no
173 75000 done
no
174 45000 done
no
175 60000 done
no
176 110000 done
no
177 35000 done
no
178 135000 done
no
179 35000 done
no
180 45000 done
no
181 27000 done
no
182 40000 done
no
183 30000 done
no
184 40000 done
no
185 26000 done
no
186 300000 done
no
187 35000 done
no
188 60000 done
no
189 69000 done
no
190 85000 done
no
191 50000 done
no
192 60000 done
no
193 35000 done
no
194 35000 done
no
195 30000 done
no
196 285000 done
no
197 35000 done
no
198 45000 done
no
199 52000 done
no
200 120000 done
no
201 55000 done
no
202 1900000 done
no
203 35000 done
no
204 30000 done
no
205 80000 done
no
206 56000 done
no
207 700000 done
no
208 30000 done
no
209 37000 done
no
210 60000 done
no
211 42000 done
no
212 50000 done
no
213 50000 done
no
214 60000 done
no
215 57000 done
no
216 55000 done
no
217 32000 done
no
218 45000 done
no
219 72000 done
no
220 60000 done
no
221 500000 done
no
222 45000 done
no
223 80000 done
no
224 48000 done
no
225 42000 done
no
226 45000 done
no
227 40000 done
no
228 59000 done
no
229 78000 done
no
230 35000 done
no
231 48000 done
no
232 45000 done
no
233 33000 done
no
234 35000 done
no
235 40001 done
no
236 55000 done
Error: argument of type 'int' is not iterable
237 0 done
no
238 63000 done
no
239 45000 done
no
240 65000 done
no
241 300000 done
no
242 80000 done
no
243 45000 done
no
244 750000 done
no
245 38000 done
no
246 60000 done
no
247 38900 done
no
248 35000 done
no
249 60000 done
no
250 50000 done
no
251 95000 done
no
252 52800 done
no
253 42000 done
no
254 37000 done
no
255 38000 done
no
256 500000 done
no
257 45000 done
no
258 65000 done
no
259 180000 done
no
260 32000 done
no
261 60000 done
Error: argument of type 'int' is not iterable
262 0 done
no
263 200000 done
no
264 40000 done
no
265 50000 done
Error: argument of type 'int' is not iterable
266 0 done
no
267 42000 done
no
268 42000 done
no
269 70000 done
no
270 50000 done
no
271 70000 done
no
272 50000 done
no
273 78000 done
no
274 84000 done
no
275 39999 done
no
276 120000 done
no
277 50000 done
no
278 50000 done
no
279 35000 done
no
280 45000 done
no
281 600000 done
no
282 1700000 done
no
283 38000 done
no
284 42000 done
no
285 45000 done
no
286 32000 done
no
287 40000 done
no
288 300000 done
no
289 58000 done
no
290 45000 done
no
291 35000 done
no
292 55000 done
no
293 260000 done
no
294 28000 done
no
295 35000 done
no
296 35000 done
no
297 40000 done
no
298 45000 done
no
299 48000 done
no
300 45000 done
no
301 70000 done
no
302 35000 done
no
303 27000 done
no
304 12000 done
no
305 80000 done
no
306 90000 done
no
307 38000 done
no
308 43000 done
no
309 1926000 done
no
310 55000 done
no
311 55000 done
no
312 127000 done
no
313 44000 done
no
314 32000 done
no
315 32000 done
no
316 34000 done
no
317 50000 done
no
318 130000 done
no
319 40000 done
no
320 700000 done
no
321 40500 done
no
322 55000 done
no
323 42000 done
no
324 50000 done
no
325 45000 done
no
326 195000 done
no
327 40000 done
no
328 58000 done
no
329 55000 done
no
330 35000 done
no
331 28000 done
no
332 70000 done
no
333 30000 done
no
334 45000 done
no
335 37900 done
no
336 40000 done
no
337 55000 done
no
338 38000 done
no
339 56000 done
no
340 42000 done
no
341 36000 done
no
342 63000 done
no
343 45000 done
no
344 50000 done
no
345 65000 done
no
346 38000 done
no
347 55000 done
no
348 26000 done
no
349 35000 done
no
350 760000 done
no
351 45000 done
no
352 30000 done
no
353 55000 done
Error: argument of type 'int' is not iterable
354 0 done
no
355 120000 done
no
356 50000 done
no
357 55000 done
no
358 50000 done
no
359 150000 done
no
360 130000 done
no
361 40000 done
no
362 38900 done
no
363 525000 done
no
364 45000 done
no
365 1275000 done
no
366 40000 done
no
367 50000 done
no
368 80000 done
no
369 75000 done
no
370 26000 done
no
371 80000 done
no
372 30000 done
no
373 45000 done
no
374 30000 done
no
375 25000 done
no
376 40000 done
Error: argument of type 'int' is not iterable
377 0 done
no
378 40000 done
Error: argument of type 'int' is not iterable
379 0 done
no
380 40000 done
no
381 140000 done
no
382 35600 done
no
383 30000 done
no
384 25000 done
no
385 60000 done
no
386 50000 done
no
387 38000 done
no
388 30000 done
no
389 58000 done
no
390 375000 done
no
391 33000 done
no
392 50000 done
no
393 37000 done
no
394 35000 done
no
395 50000 done
no
396 45600 done
no
397 45000 done
no
398 36000 done
no
399 140000 done
no
400 100000 done
no
401 37000 done
no
402 61000 done
no
403 44000 done
no
404 50000 done
no
405 50000 done
Error: argument of type 'int' is not iterable
406 0 done
no
407 43000 done
no
408 45000 done
no
409 50000 done
no
410 56000 done
no
411 14000 done
no
412 32000 done
no
413 55000 done
no
414 37000 done
no
415 50000 done
no
416 45000 done
no
417 140000 done
no
418 50000 done
no
419 40000 done
no
420 43000 done
no
421 80000 done
no
422 42000 done
no
423 35000 done
no
424 25000 done
no
425 150000 done
no
426 55000 done
no
427 55000 done
no
428 352000 done
no
429 55000 done
no
430 33000 done
no
431 70000 done
no
432 30000 done
no
433 175000 done
no
434 200000 done
no
435 40000 done
no
436 310000 done
no
437 24000 done
no
438 37000 done
no
439 100000 done
no
440 32000 done
no
441 35000 done
Error: argument of type 'int' is not iterable
442 0 done
no
443 42000 done
no
444 32000 done
no
445 38000 done
no
446 55000 done
no
447 42000 done
no
448 700000 done
no
449 50000 done
no
450 56000 done
no
451 275000 done
no
452 35000 done
no
453 1040000 done
no
454 37000 done
no
455 44800 done
no
456 40000 done
no
457 55000 done
no
458 36000 done
no
459 35000 done
no
460 40000 done
no
461 85000 done
no
462 60000 done
no
463 45000 done
no
464 100000 done
no
465 14000 done
no
466 57000 done
no
467 40000 done
no
468 40000 done
no
469 40000 done
Error: argument of type 'int' is not iterable
470 0 done
no
471 450000 done
no
472 73000 done
no
473 40000 done
no
474 35000 done
no
475 50000 done
no
476 59000 done
no
477 20000 done
no
478 35000 done
no
479 30000 done
no
480 31000 done
no
481 55000 done
no
482 45000 done
no
483 50000 done
no
484 30000 done
no
485 35000 done
no
486 35000 done
no
487 48000 done
no
488 53000 done
no
489 50000 done
no
490 43000 done
no
491 29000 done
no
492 1100000 done
no
493 36000 done
no
494 28000 done
no
495 165000 done
no
496 40000 done
no
497 3500000 done
Error: argument of type 'int' is not iterable
498 0 done
no
499 38000 done
no
500 50000 done
no
501 33000 done
no
502 42000 done
no
503 35000 done
no
504 35000 done
no
505 200000 done
no
506 65000 done
no
507 200000 done
no
508 110000 done
no
509 28000 done
no
510 30000 done
no
511 42000 done
no
512 60000 done
Error: argument of type 'int' is not iterable
513 0 done
no
514 55000 done
no
515 28000 done
no
516 40000 done
no
517 40000 done
no
518 47000 done
no
519 30000 done
no
520 42000 done
no
521 30000 done
no
522 40000 done
no
523 55000 done
no
524 31000 done
no
525 140000 done
no
526 450000 done
no
527 56000 done
no
528 30000 done
no
529 30000 done
no
530 50000 done
no
531 100000 done
no
532 3250000 done
no
533 40000 done
Error: argument of type 'int' is not iterable
534 0 done
no
535 63000 done
no
536 42000 done
no
537 45000 done
no
538 42000 done
no
539 27000 done
no
540 30000 done
no
541 35000 done
no
542 110000 done
no
543 1300000 done
no
544 60000 done
no
545 65000 done
no
546 45000 done
no
547 46000 done
no
548 200000 done
no
549 38000 done
no
550 33000 done
no
551 30000 done
no
552 225000 done
Error: argument of type 'int' is not iterable
553 0 done
no
554 30000 done
no
555 22000 done
no
556 50000 done
no
557 597000 done
no
558 27000 done
no
559 40000 done
no
560 30000 done
no
561 45000 done
no
562 45000 done
no
563 42500 done
no
564 35000 done
no
565 55000 done
no
566 40000 done
Error: argument of type 'int' is not iterable
567 0 done
no
568 1200000 done
no
569 80000 done
no
570 65000 done
no
571 30000 done
no
572 34000 done
no
573 35000 done
no
574 42000 done
no
575 28000 done
no
576 45000 done
no
577 65000 done
no
578 418000 done
no
579 33000 done
no
580 32000 done
no
581 40000 done
no
582 30000 done
no
583 42000 done
no
584 45000 done
no
585 30000 done
no
586 35000 done
no
587 32000 done
no
588 79000 done
no
589 35000 done
no
590 23000 done
no
591 48000 done
no
592 30000 done
no
593 35000 done
no
594 48000 done
no
595 90000 done
no
596 65000 done
no
597 181000 done
no
598 35000 done
no
599 28000 done
no
600 40000 done
no
601 50000 done
no
602 58000 done
no
603 32900 done
no
604 27000 done
no
605 65000 done
no
606 80000 done
no
607 35000 done
no
608 630000 done
no
609 100000 done
no
610 29000 done
no
611 62000 done
no
612 40000 done
no
613 80000 done
no
614 40000 done
no
615 25000 done
no
616 60000 done
no
617 40000 done
no
618 28000 done
no
619 80000 done
Error: argument of type 'int' is not iterable
620 0 done
no
621 45000 done
no
622 70000 done
no
623 55000 done
no
624 200000 done
no
625 32000 done
no
626 36000 done
no
627 90000 done
no
628 675000 done
no
629 500000 done
no
630 25000 done
no
631 50000 done
no
632 60000 done
no
633 50000 done
no
634 30000 done
no
635 40000 done
no
636 375000 done
no
637 32000 done
no
638 750000 done
no
639 37000 done
no
640 30000 done
no
641 52000 done
no
642 30000 done
no
643 40000 done
no
644 475000 done
no
645 20000 done
no
646 185000 done
no
647 500000 done
no
648 30000 done
no
649 55000 done
no
650 95000 done
no
651 58000 done
no
652 71000 done
no
653 40000 done
no
654 50000 done
Error: argument of type 'int' is not iterable
655 0 done
no
656 38000 done
no
657 47000 done
no
658 40000 done
no
659 1200000 done
no
660 33000 done
no
661 2400000 done
no
662 100000 done
no
663 32000 done
no
664 32000 done
no
665 38000 done
no
666 72000 done
no
667 35000 done
no
668 45000 done
no
669 52000 done
no
670 450000 done
no
671 55000 done
no
672 39000 done
no
673 90000 done
no
674 40000 done
no
675 352000 done
no
676 60000 done
no
677 60000 done
no
678 37000 done
no
679 40600 done
no
680 90000 done
no
681 38500 done
no
682 50000 done
no
683 200000 done
no
684 65000 done
no
685 65000 done
no
686 60000 done
no
687 28000 done
no
688 50000 done
no
689 40000 done
no
690 600000 done
no
691 25000 done
no
692 45000 done
no
693 60000 done
no
694 1100000 done
Error: argument of type 'int' is not iterable
695 0 done
no
696 30000 done
no
697 300000 done
no
698 88000 done
no
699 43000 done
no
700 36000 done
no
701 36000 done
no
702 100000 done
no
703 40000 done
no
704 45000 done
no
705 50000 done
no
706 40000 done
no
707 27000 done
no
708 35000 done
no
709 45000 done
no
710 300000 done
no
711 38000 done
no
712 40000 done
no
713 38000 done
no
714 65000 done
no
715 140000 done
Error: argument of type 'int' is not iterable
716 0 done
no
717 52000 done
no
718 577000 done
yes
2
<class 'int'> 2
2 eurgvrb
719 200000 done
no
720 55000 done
no
721 45000 done
Error: argument of type 'int' is not iterable
722 0 done
no
723 50000 done
no
724 57000 done
no
725 250000 done
no
726 50000 done
no
727 30000 done
no
728 62000 done
no
729 35000 done
no
730 41900 done
no
731 35000 done
no
732 35000 done
no
733 28000 done
no
734 45000 done
no
735 110000 done
no
736 55000 done
no
737 45000 done
no
738 36000 done
no
739 25000 done
no
740 26000 done
no
741 240000 done
no
742 50000 done
Error: argument of type 'int' is not iterable
743 0 done
no
744 23000 done
no
745 32000 done
no
746 40000 done
no
747 65000 done
no
748 48000 done
no
749 25000 done
no
750 120000 done
no
751 45800 done
no
752 500000 done
no
753 76000 done
no
754 30000 done
no
755 80000 done
no
756 850000 done
no
757 114000 done
no
758 45000 done
no
759 40000 done
no
760 110000 done
no
761 32000 done
Error: argument of type 'int' is not iterable
762 0 done
no
763 55000 done
no
764 48000 done
no
765 27000 done
no
766 3000000 done
no
767 63000 done
no
768 46500 done
no
769 50000 done
no
770 30000 done
no
771 32000 done
no
772 30000 done
no
773 55000 done
no
774 28000 done
no
775 37000 done
no
776 36000 done
no
777 21000 done
no
778 45000 done
no
779 125000 done
no
780 50000 done
no
781 46000 done
no
782 350000 done
no
783 85000 done
no
784 45000 done
no
785 200000 done
no
786 40000 done
no
787 20000 done
no
788 35000 done
no
789 32000 done
no
790 45000 done
no
791 25000 done
no
792 35000 done
no
793 42000 done
no
794 50000 done
no
795 26000 done
no
796 350000 done
no
797 147000 done
no
798 90000 done
no
799 30000 done
no
800 40000 done
no
801 36000 done
no
802 25000 done
no
803 90000 done
no
804 42000 done
no
805 90000 done
no
806 1560000 done
no
807 33000 done
no
808 35000 done
no
809 38000 done
no
810 41500 done
no
811 36000 done
no
812 40000 done
no
813 50000 done
no
814 125000 done
no
815 60000 done
no
816 50000 done
no
817 70000 done
no
818 65000 done
no
819 36000 done
no
820 19000 done
no
821 180000 done
no
822 55000 done
no
823 30000 done
no
824 35000 done
no
825 45000 done
no
826 50000 done
no
827 45000 done
no
828 30000 done
no
829 80000 done
no
830 40000 done
no
831 55000 done
no
832 42200 done
no
833 38000 done
no
834 75000 done
no
835 28000 done
no
836 26000 done
no
837 50000 done
no
838 26000 done
no
839 1476000 done
no
840 25000 done
no
841 68000 done
no
842 45000 done
no
843 48000 done
no
844 85000 done
no
845 65000 done
no
846 32000 done
no
847 76000 done
no
848 70000 done
no
849 80000 done
no
850 25000 done
no
851 45000 done
no
852 32000 done
no
853 25000 done
no
854 46500 done
no
855 50000 done
no
856 25000 done
no
857 55000 done
no
858 42000 done
no
859 70000 done
no
860 195000 done
no
861 56000 done
no
862 32000 done
no
863 75000 done
no
864 35000 done
no
865 30000 done
no
866 120000 done
no
867 60000 done
no
868 22000 done
no
869 35000 done
no
870 30000 done
no
871 38000 done
no
872 35000 done
no
873 100000 done
no
874 32000 done
no
875 40000 done
no
876 100000 done
no
877 25000 done
no
878 35000 done
no
879 42000 done
no
880 170000 done
no
881 30000 done
no
882 45000 done
no
883 35000 done
no
884 135000 done
no
885 41000 done
no
886 30000 done
no
887 40000 done
no
888 240000 done
no
889 31000 done
no
890 130000 done
no
891 25000 done
no
892 100000 done
no
893 40000 done
no
894 45000 done
no
895 275000 done
no
896 75000 done
no
897 55000 done
no
898 40500 done
no
899 33000 done
no
900 35000 done
no
901 35000 done
no
902 24000 done
no
903 35000 done
no
904 38000 done
no
905 28000 done
no
906 42000 done
no
907 54000 done
no
908 48000 done
no
909 25000 done
no
910 25000 done
no
911 32000 done
no
912 23000 done
no
913 40000 done
no
914 48000 done
no
915 12000 done
no
916 50000 done
no
917 38000 done
no
918 35000 done
no
919 125000 done
no
920 55000 done
no
921 28000 done
no
922 40000 done
no
923 65000 done
no
924 1300000 done
no
925 60000 done
no
926 37000 done
no
927 200000 done
no
928 28000 done
no
929 36000 done
yes
1.8
Error: invalid literal for int() with base 10: '1.8'
930 0 done
no
931 50000 done
no
932 40000 done
no
933 35000 done
no
934 80000 done
no
935 35000 done
no
936 85000 done
no
937 25000 done
no
938 48000 done
no
939 30000 done
yes
1
<class 'int'> 1
1 eurgvrb
940 100000 done
yes
2.5
Error: invalid literal for int() with base 10: '2.5'
941 0 done
no
942 35000 done
no
943 45000 done
no
944 32000 done
no
945 80000 done
no
946 22000 done
yes
32
<class 'int'> 32
32 eurgvrb
947 3200000 done
no
948 75000 done
no
949 20000 done
no
950 50000 done
yes
3
<class 'int'> 3
3 eurgvrb
951 300000 done
yes
33.02
Error: invalid literal for int() with base 10: '33.02'
952 0 done
no
953 22000 done
no
954 45000 done
yes
22
<class 'int'> 22
22 eurgvrb
955 2200000 done
no
956 85000 done
no
957 55000 done
no
958 55000 done
yes
1.25
Error: invalid literal for int() with base 10: '1.25'
959 0 done
no
960 25000 done
no
961 55000 done
no
962 60000 done
no
963 42000 done
no
964 84000 done
no
965 50000 done
no
966 60000 done
no
967 44000 done
no
968 37000 done
yes
1.3
Error: invalid literal for int() with base 10: '1.3'
969 0 done
no
970 40000 done
no
971 24000 done
yes
1.1
Error: invalid literal for int() with base 10: '1.1'
972 0 done
no
973 27000 done
yes
1.25
Error: invalid literal for int() with base 10: '1.25'
974 0 done
no
975 38000 done
no
976 48000 done
no
977 45000 done
yes
1.5
Error: invalid literal for int() with base 10: '1.5'
978 0 done
yes
2.5
Error: invalid literal for int() with base 10: '2.5'
979 0 done
no
980 90000 done
yes
11.25
Error: invalid literal for int() with base 10: '11.25'
981 0 done
yes
2.86
Error: invalid literal for int() with base 10: '2.86'
982 0 done
no
983 15500 done
no
984 26000 done
no
985 38000 done
no
986 28000 done
no
987 18800 done
no
988 40000 done
no
989 35000 done
no
990 60000 done
no
991 35000 done
no
992 80000 done
no
993 38900 done
no
994 32000 done
no
995 55000 done
no
996 85000 done
no
997 22000 done
no
998 33000 done
no
999 22500 done
no
1000 45000 done
yes
1.7
Error: invalid literal for int() with base 10: '1.7'
1001 0 done
no
1002 22000 done
yes
1.3

In [17]:
rent=[]
for x in range(len(df)):
    print(x)
    a=df.iloc[x]['Rent']
    try:
        rent_value = ''
        if 'L' in a:
            print('yes')
            a=a.strip()
            a = a.replace('L', '')
            print(a)
            
            a=int(a)
            print(type(a),a)
            print(a,'eurgvrb')
                
            rent_value = int(a) * 100000 
            rent.append(rent_value)
        else:
            print('no')
            a = a.replace(',', '')
            rent_value = int(a)
            rent.append(rent_value)
    except Exception as e:
            rent.append(0)
            print(f"Error: {e}")

0
no
1
no
2
no
3
no
4
no
5
no
6
no
7
no
8
no
9
no
10
no
11
no
12
no
13
no
14
no
15
no
16
no
17
no
18
no
19
no
20
no
21
no
22
no
23
no
24
no
25
no
26
no
27
no
28
no
29
no
30
no
31
no
32
no
33
Error: argument of type 'int' is not iterable
34
no
35
no
36
Error: argument of type 'int' is not iterable
37
no
38
no
39
no
40
no
41
no
42
no
43
no
44
no
45
no
46
no
47
no
48
no
49
no
50
no
51
no
52
no
53
no
54
no
55
no
56
no
57
no
58
no
59
no
60
no
61
no
62
no
63
no
64
no
65
no
66
no
67
no
68
no
69
no
70
no
71
no
72
no
73
no
74
no
75
no
76
no
77
no
78
no
79
no
80
no
81
no
82
no
83
no
84
Error: argument of type 'int' is not iterable
85
no
86
no
87
Error: argument of type 'int' is not iterable
88
no
89
no
90
no
91
no
92
no
93
no
94
no
95
no
96
no
97
no
98
Error: argument of type 'int' is not iterable
99
no
100
no
101
no
102
no
103
no
104
no
105
no
106
no
107
no
108
no
109
no
110
no
111
no
112
no
113
no
114
no
115
no
116
no
117
no
118
no
119
no
120
no
121
no
122
no
123
no
124
no
125
no
126
no
127
no
128
no
129
no
130
no
131
no
132
no
133
no
134
no
135
no
136
no
137
no
138
no
139
no
140
no
141
Error: argument of type 'int' is not iterable
142
no
143
no
144
no
145
no
146
no
147
no
148
no
149
no
150
no
151
no
152
no
153
no
154
no
155
no
156
no
157
no
158
no
159
no
160
no
161
no
162
no
163
no
164
no
165
no
166
no
167
no
168
no
169
no
170
no
171
no
172
no
173
no
174
no
175
no
176
no
177
no
178
no
179
no
180
no
181
no
182
no
183
no
184
no
185
no
186
no
187
no
188
no
189
no
190
no
191
no
192
no
193
no
194
no
195
no
196
no
197
no
198
no
199
no
200
no
201
no
202
no
203
no
204
no
205
no
206
no
207
no
208
no
209
no
210
no
211
no
212
no
213
no
214
no
215
no
216
no
217
no
218
no
219
no
220
no
221
no
222
no
223
no
224
no
225
no
226
no
227
no
228
no
229
no
230
no
231
no
232
no
233
no
234
no
235
no
236
no
237
Error: argument of type 'int' is not iterable
238
no
239
no
240
no
241
no
242
no
243
no
244
no
245
no
246
no
247
no
248
no
249
no
250
no
251
no
252
no
253
no
254
no
255
no
256
no
257
no
258
no
259
no
260
no
261
no
262
Error: argument of type 'int' is not iterable
263
no
264
no
265
no
266
Error: argument of type 'int' is not iterable
267
no
268
no
269
no
270
no
271
no
272
no
273
no
274
no
275
no
276
no
277
no
278
no
279
no
280
no
281
no
282
no
283
no
284
no
285
no
286
no
287
no
288
no
289
no
290
no
291
no
292
no
293
no
294
no
295
no
296
no
297
no
298
no
299
no
300
no
301
no
302
no
303
no
304
no
305
no
306
no
307
no
308
no
309
no
310
no
311
no
312
no
313
no
314
no
315
no
316
no
317
no
318
no
319
no
320
no
321
no
322
no
323
no
324
no
325
no
326
no
327
no
328
no
329
no
330
no
331
no
332
no
333
no
334
no
335
no
336
no
337
no
338
no
339
no
340
no
341
no
342
no
343
no
344
no
345
no
346
no
347
no
348
no
349
no
350
no
351
no
352
no
353
no
354
Error: argument of type 'int' is not iterable
355
no
356
no
357
no
358
no
359
no
360
no
361
no
362
no
363
no
364
no
365
no
366
no
367
no
368
no
369
no
370
no
371
no
372
no
373
no
374
no
375
no
376
no
377
Error: argument of type 'int' is not iterable
378
no
379
Error: argument of type 'int' is not iterable
380
no
381
no
382
no
383
no
384
no
385
no
386
no
387
no
388
no
389
no
390
no
391
no
392
no
393
no
394
no
395
no
396
no
397
no
398
no
399
no
400
no
401
no
402
no
403
no
404
no
405
no
406
Error: argument of type 'int' is not iterable
407
no
408
no
409
no
410
no
411
no
412
no
413
no
414
no
415
no
416
no
417
no
418
no
419
no
420
no
421
no
422
no
423
no
424
no
425
no
426
no
427
no
428
no
429
no
430
no
431
no
432
no
433
no
434
no
435
no
436
no
437
no
438
no
439
no
440
no
441
no
442
Error: argument of type 'int' is not iterable
443
no
444
no
445
no
446
no
447
no
448
no
449
no
450
no
451
no
452
no
453
no
454
no
455
no
456
no
457
no
458
no
459
no
460
no
461
no
462
no
463
no
464
no
465
no
466
no
467
no
468
no
469
no
470
Error: argument of type 'int' is not iterable
471
no
472
no
473
no
474
no
475
no
476
no
477
no
478
no
479
no
480
no
481
no
482
no
483
no
484
no
485
no
486
no
487
no
488
no
489
no
490
no
491
no
492
no
493
no
494
no
495
no
496
no
497
no
498
Error: argument of type 'int' is not iterable
499
no
500
no
501
no
502
no
503
no
504
no
505
no
506
no
507
no
508
no
509
no
510
no
511
no
512
no
513
Error: argument of type 'int' is not iterable
514
no
515
no
516
no
517
no
518
no
519
no
520
no
521
no
522
no
523
no
524
no
525
no
526
no
527
no
528
no
529
no
530
no
531
no
532
no
533
no
534
Error: argument of type 'int' is not iterable
535
no
536
no
537
no
538
no
539
no
540
no
541
no
542
no
543
no
544
no
545
no
546
no
547
no
548
no
549
no
550
no
551
no
552
no
553
Error: argument of type 'int' is not iterable
554
no
555
no
556
no
557
no
558
no
559
no
560
no
561
no
562
no
563
no
564
no
565
no
566
no
567
Error: argument of type 'int' is not iterable
568
no
569
no
570
no
571
no
572
no
573
no
574
no
575
no
576
no
577
no
578
no
579
no
580
no
581
no
582
no
583
no
584
no
585
no
586
no
587
no
588
no
589
no
590
no
591
no
592
no
593
no
594
no
595
no
596
no
597
no
598
no
599
no
600
no
601
no
602
no
603
no
604
no
605
no
606
no
607
no
608
no
609
no
610
no
611
no
612
no
613
no
614
no
615
no
616
no
617
no
618
no
619
no
620
Error: argument of type 'int' is not iterable
621
no
622
no
623
no
624
no
625
no
626
no
627
no
628
no
629
no
630
no
631
no
632
no
633
no
634
no
635
no
636
no
637
no
638
no
639
no
640
no
641
no
642
no
643
no
644
no
645
no
646
no
647
no
648
no
649
no
650
no
651
no
652
no
653
no
654
no
655
Error: argument of type 'int' is not iterable
656
no
657
no
658
no
659
no
660
no
661
no
662
no
663
no
664
no
665
no
666
no
667
no
668
no
669
no
670
no
671
no
672
no
673
no
674
no
675
no
676
no
677
no
678
no
679
no
680
no
681
no
682
no
683
no
684
no
685
no
686
no
687
no
688
no
689
no
690
no
691
no
692
no
693
no
694
no
695
Error: argument of type 'int' is not iterable
696
no
697
no
698
no
699
no
700
no
701
no
702
no
703
no
704
no
705
no
706
no
707
no
708
no
709
no
710
no
711
no
712
no
713
no
714
no
715
no
716
Error: argument of type 'int' is not iterable
717
no
718
no
719
yes
2
<class 'int'> 2
2 eurgvrb
720
no
721
no
722
Error: argument of type 'int' is not iterable
723
no
724
no
725
no
726
no
727
no
728
no
729
no
730
no
731
no
732
no
733
no
734
no
735
no
736
no
737
no
738
no
739
no
740
no
741
no
742
no
743
Error: argument of type 'int' is not iterable
744
no
745
no
746
no
747
no
748
no
749
no
750
no
751
no
752
no
753
no
754
no
755
no
756
no
757
no
758
no
759
no
760
no
761
no
762
Error: argument of type 'int' is not iterable
763
no
764
no
765
no
766
no
767
no
768
no
769
no
770
no
771
no
772
no
773
no
774
no
775
no
776
no
777
no
778
no
779
no
780
no
781
no
782
no
783
no
784
no
785
no
786
no
787
no
788
no
789
no
790
no
791
no
792
no
793
no
794
no
795
no
796
no
797
no
798
no
799
no
800
no
801
no
802
no
803
no
804
no
805
no
806
no
807
no
808
no
809
no
810
no
811
no
812
no
813
no
814
no
815
no
816
no
817
no
818
no
819
no
820
no
821
no
822
no
823
no
824
no
825
no
826
no
827
no
828
no
829
no
830
no
831
no
832
no
833
no
834
no
835
no
836
no
837
no
838
no
839
no
840
no
841
no
842
no
843
no
844
no
845
no
846
no
847
no
848
no
849
no
850
no
851
no
852
no
853
no
854
no
855
no
856
no
857
no
858
no
859
no
860
no
861
no
862
no
863
no
864
no
865
no
866
no
867
no
868
no
869
no
870
no
871
no
872
no
873
no
874
no
875
no
876
no
877
no
878
no
879
no
880
no
881
no
882
no
883
no
884
no
885
no
886
no
887
no
888
no
889
no
890
no
891
no
892
no
893
no
894
no
895
no
896
no
897
no
898
no
899
no
900
no
901
no
902
no
903
no
904
no
905
no
906
no
907
no
908
no
909
no
910
no
911
no
912
no
913
no
914
no
915
no
916
no
917
no
918
no
919
no
920
no
921
no
922
no
923
no
924
no
925
no
926
no
927
no
928
no
929
no
930
yes
1.8
Error: invalid literal for int() with base 10: '1.8 '
931
no
932
no
933
no
934
no
935
no
936
no
937
no
938
no
939
no
940
yes
1
<class 'int'> 1
1 eurgvrb
941
yes
2.5
Error: invalid literal for int() with base 10: '2.5 '
942
no
943
no
944
no
945
no
946
no
947
yes
32
<class 'int'> 32
32 eurgvrb
948
no
949
no
950
no
951
yes
3
<class 'int'> 3
3 eurgvrb
952
yes
33.02
Error: invalid literal for int() with base 10: '33.02 '
953
no
954
no
955
yes
22
<class 'int'> 22
22 eurgvrb
956
no
957
no
958
no
959
yes
1.25
Error: invalid literal for int() with base 10: '1.25 '
960
no
961
no
962
no
963
no
964
no
965
no
966
no
967
no
968
no
969
yes
1.3
Error: invalid literal for int() with base 10: '1.3 '
970
no
971
no
972
yes
1.1
Error: invalid literal for int() with base 10: '1.1 '
973
no
974
yes
1.25
Error: invalid literal for int() with base 10: '1.25 '
975
no
976
no
977
no
978
yes
1.5
Error: invalid literal for int() with base 10: '1.5 '
979
yes
2.5
Error: invalid literal for int() with base 10: '2.5 '
980
no
981
yes
11.25
Error: invalid literal for int() with base 10: '11.25 '
982
yes
2.86
Error: invalid literal for int() with base 10: '2.86 '
983
no
984
no
985
no
986
no
987
no
988
no
989
no
990
no
991
no
992
no
993
no
994
no
995
no
996
no
997
no
998
no
999
no
1000
no
1001
yes
1.7
Error: invalid literal for int() with base 10: '1.7 '
1002
no
1003
yes
1.3
Error: invalid literal for int() with base 10: '1.3 '
1004
no
1005
yes
3.5
Error: invalid literal for int() with base 10: '3.5 '
1006
no
1007
no
1008
no
1009
yes
5.22
Error: invalid literal for int() with base 10: '5.22 '
1010
no
1011
no
1012
no
1013
yes
2
<class 'int'> 2
2 eurgvrb
1014
no
1015
no
1016
no
1017
no
1018
no
1019
no
1020
no
1021
yes
3.5
Error: invalid literal for int() with base 10: '3.5 '
1022
no
1023
no
1024
no
1025
no
1026
yes
1.8
Error: invalid literal for int() with base 10: '1.8 '
1027
no
1028
no
1029
no
1030
no
1031
yes
1.1
Error: invalid literal for int() with base 10: '1.1 '
1032
yes
1.25
Error: invalid literal for int() with base 10: '1.25 '
1033
no
1034
no
1035
no
1036
yes
4.8
Error: invalid literal for int() with base 10: '4.8 '
1037
no
1038
no
1039
yes
2.5
Error: invalid literal for int() with base 10: '2.5 '
1040
no
1041
no
1042
no
1043
no
1044
no
1045
no
1046
no
1047
no
1048
no
1049
no
1050
no
1051
no
1052
yes
1
<class 'int'> 1
1 eurgvrb
1053
no
1054
no
1055
no
1056
yes
5
<class 'int'> 5
5 eurgvrb
1057
no
1058
no
1059
no
1060
no
1061
no
1062
no
1063
no
1064
no
1065
yes
1
<class 'int'> 1
1 eurgvrb
1066
no
1067
no
1068
no
1069
no
1070
no
1071
yes
1
<class 'int'> 1
1 eurgvrb
1072
yes
2.2
Error: invalid literal for int() with base 10: '2.2 '
1073
no
1074
no
1075
no
1076
no
1077
no
1078
no
1079
no
1080
no
1081
no
1082
Error: argument of type 'int' is not iterable
1083
yes
2.25
Error: invalid literal for int() with base 10: '2.25 '
1084
no
1085
no
1086
no
1087
yes
2.08
Error: invalid literal for int() with base 10: '2.08 '
1088
no
1089
no
1090
yes
37.5
Error: invalid literal for int() with base 10: '37.5 '
1091
yes
5.8
Error: invalid literal for int() with base 10: '5.8 '
1092
no
1093
yes
2
<class 'int'> 2
2 eurgvrb
1094
no
1095
yes
1.5
Error: invalid literal for int() with base 10: '1.5 '
1096
no
1097
no
1098
no
1099
no
1100
yes
1
<class 'int'> 1
1 eurgvrb
1101
no
1102
no
1103
no
1104
no
1105
no
1106
no
1107
no
1108
no
1109
no
1110
no
1111
no
1112
no
1113
no
1114
no
1115
no
1116
no
1117
yes
15
<class 'int'> 15
15 eurgvrb
1118
yes
1.1
Error: invalid literal for int() with base 10: '1.1 '
1119
no
1120
no
1121
no
1122
no
1123
no
1124
yes
5.09
Error: invalid literal for int() with base 10: '5.09 '
1125
no
1126
no
1127
no
1128
no
1129
yes
1
<class 'int'> 1
1 eurgvrb
1130
no
1131
no
1132
no
1133
no
1134
no
1135
yes
3.5
Error: invalid literal for int() with base 10: '3.5 '
1136
no
1137
no
1138
no
1139
no
1140
no
1141
no
1142
no
1143
no
1144
yes
1.25
Error: invalid literal for int() with base 10: '1.25 '
1145
no
1146
no
1147
no
1148
no
1149
no
1150
yes
1.8
Error: invalid literal for int() with base 10: '1.8 '
1151
no
1152
no
1153
yes
12
<class 'int'> 12
12 eurgvrb
1154
no
1155
yes
1.75
Error: invalid literal for int() with base 10: '1.75 '
1156
yes
3
<class 'int'> 3
3 eurgvrb
1157
yes
6
<class 'int'> 6
6 eurgvrb
1158
no
1159
yes
3.78
Error: invalid literal for int() with base 10: '3.78 '
1160
no
1161
no
1162
no
1163
no
1164
yes
7
<class 'int'> 7
7 eurgvrb
1165
no
1166
no
1167
yes
1.2
Error: invalid literal for int() with base 10: '1.2 '
1168
no
1169
no
1170
no
1171
yes
4
<class 'int'> 4
4 eurgvrb
1172
no
1173
no
1174
no
1175
no
1176
no
1177
yes
4.47
Error: invalid literal for int() with base 10: '4.47 '
1178
yes
1.5
Error: invalid literal for int() with base 10: '1.5 '
1179
no
1180
no
1181
no
1182
no
1183
no
1184
no
1185
no
1186
no
1187
no
1188
no
1189
no
1190
no
1191
no
1192
no
1193
no
1194
no
1195
yes
1.5
Error: invalid literal for int() with base 10: '1.5 '
1196
yes
15
<class 'int'> 15
15 eurgvrb
1197
no
1198
no
1199
no
1200
no
1201
no
1202
no
1203
no
1204
no
1205
no
1206
no
1207
yes
67
<class 'int'> 67
67 eurgvrb
1208
yes
1
<class 'int'> 1
1 eurgvrb
1209
no
1210
no
1211
no
1212
no
1213
no
1214
no
1215
yes
3.5
Error: invalid literal for int() with base 10: '3.5 '
1216
yes
1.2
Error: invalid literal for int() with base 10: '1.2 '
1217
no
1218
no
1219
no
1220
no
1221
no
1222
no
1223
yes
1.4
Error: invalid literal for int() with base 10: '1.4 '
1224
no
1225
no
1226
no
1227
yes
1
<class 'int'> 1
1 eurgvrb
1228
no
1229
no
1230
no
1231
yes
10
<class 'int'> 10
10 eurgvrb
1232
no
1233
no
1234
no
1235
no
1236
no
1237
no
1238
no
1239
no
1240
yes
1
<class 'int'> 1
1 eurgvrb
1241
no
1242
yes
3.1
Error: invalid literal for int() with base 10: '3.1 '
1243
no
1244
no
1245
no
1246
no
1247
no
1248
no
1249
yes
1.05
Error: invalid literal for int() with base 10: '1.05 '
1250
no
1251
no
1252
no
1253
no
1254
yes
38
<class 'int'> 38
38 eurgvrb
1255
yes
1.5
Error: invalid literal for int() with base 10: '1.5 '
1256
no
1257
no
1258
no
1259
no
1260
no
1261
yes
4.2
Error: invalid literal for int() with base 10: '4.2 '
1262
yes
1.84
Error: invalid literal for int() with base 10: '1.84 '
1263
no
1264
no
1265
yes
1.1
Error: invalid literal for int() with base 10: '1.1 '
1266
no
1267
no
1268
no
1269
yes
1.1
Error: invalid literal for int() with base 10: '1.1 '
1270
no
1271
no
1272
no
1273
Error: argument of type 'int' is not iterable
1274
no
1275
yes
6
<class 'int'> 6
6 eurgvrb
1276
no
1277
no
1278
no
1279
no
1280
yes
2.1
Error: invalid literal for int() with base 10: '2.1 '
1281
no
1282
no
1283
no
1284
no
1285
no
1286
no
1287
no
1288
yes
4
<class 'int'> 4
4 eurgvrb
1289
no
1290
no
1291
no
1292
no
1293
no
1294
Error: argument of type 'int' is not iterable
1295
no
1296
yes
1.8
Error: invalid literal for int() with base 10: '1.8 '
1297
yes
1
<class 'int'> 1
1 eurgvrb
1298
yes
5
<class 'int'> 5
5 eurgvrb
1299
no
1300
no
1301
no
1302
yes
1.5
Error: invalid literal for int() with base 10: '1.5 '
1303
no
1304
yes
1.35
Error: invalid literal for int() with base 10: '1.35 '
1305
no
1306
yes
1.25
Error: invalid literal for int() with base 10: '1.25 '
1307
no
1308
yes
95
<class 'int'> 95
95 eurgvrb
1309
no
1310
no
1311
no
1312
no
1313
no
1314
yes
1.1
Error: invalid literal for int() with base 10: '1.1 '
1315
no
1316
no
1317
yes
1.25
Error: invalid literal for int() with base 10: '1.25 '
1318
no
1319
no
1320
no
1321
no
1322
no
1323
no
1324
no
1325
no
1326
no
1327
no
1328
yes
1.2
Error: invalid literal for int() with base 10: '1.2 '
1329
no
1330
no
1331
no
1332
no
1333
no
1334
no
1335
yes
1.5
Error: invalid literal for int() with base 10: '1.5 '
1336
yes
1.6
Error: invalid literal for int() with base 10: '1.6 '
1337
yes
1.75
Error: invalid literal for int() with base 10: '1.75 '
1338
yes
3
<class 'int'> 3
3 eurgvrb
1339
no
1340
no
1341
no
1342
no
1343
no
1344
yes
1.2
Error: invalid literal for int() with base 10: '1.2 '
1345
yes
2.5
Error: invalid literal for int() with base 10: '2.5 '
1346
no
1347
yes
1.2
Error: invalid literal for int() with base 10: '1.2 '
1348
no
1349
no
1350
no
1351
no
1352
no
1353
no
1354
no
1355
yes
1.5
Error: invalid literal for int() with base 10: '1.5 '
1356
no
1357
no
1358
no
1359
yes
1.8
Error: invalid literal for int() with base 10: '1.8 '
1360
no
1361
no
1362
no
1363
no
1364
no
1365
no
1366
yes
1.2
Error: invalid literal for int() with base 10: '1.2 '
1367
no
1368
yes
1.4
Error: invalid literal for int() with base 10: '1.4 '
1369
yes
1.5
Error: invalid literal for int() with base 10: '1.5 '
1370
no
1371
no
1372
no
1373
no
1374
no
1375
no
1376
yes
1
<class 'int'> 1
1 eurgvrb
1377
no
1378
no
1379
no
1380
no
1381
no
1382
no
1383
no
1384
no
1385
no
1386
no
1387
yes
15
<class 'int'> 15
15 eurgvrb
1388
no
1389
no
1390
no
1391
yes
2.45
Error: invalid literal for int() with base 10: '2.45 '
1392
no
1393
no
1394
no
1395
no
1396
no
1397
yes
1.2
Error: invalid literal for int() with base 10: '1.2 '
1398
no
1399
no
1400
yes
2.6
Error: invalid literal for int() with base 10: '2.6 '
1401
yes
1
<class 'int'> 1
1 eurgvrb
1402
no
1403
no
1404
yes
1.2
Error: invalid literal for int() with base 10: '1.2 '
1405
no
1406
no
1407
no
1408
yes
16.7
Error: invalid literal for int() with base 10: '16.7 '
1409
yes
3
<class 'int'> 3
3 eurgvrb
1410
no
1411
no
1412
no
1413
yes
1.5
Error: invalid literal for int() with base 10: '1.5 '
1414
no
1415
no
1416
no
1417
no
1418
no
1419
no
1420
yes
2
<class 'int'> 2
2 eurgvrb
1421
yes
2.75
Error: invalid literal for int() with base 10: '2.75 '
1422
no
1423
no
1424
yes
1.14
Error: invalid literal for int() with base 10: '1.14 '
1425
no
1426
yes
1.34
Error: invalid literal for int() with base 10: '1.34 '
1427
no
1428
Error: argument of type 'int' is not iterable
1429
no
1430
no
1431
no
1432
yes
2.52
Error: invalid literal for int() with base 10: '2.52 '
1433
yes
55
<class 'int'> 55
55 eurgvrb
1434
no
1435
no
1436
no
1437
no
1438
no
1439
no
1440
yes
2.5
Error: invalid literal for int() with base 10: '2.5 '
1441
no
1442
no
1443
no
1444
no
1445
yes
2.2
Error: invalid literal for int() with base 10: '2.2 '
1446
no
1447
no
1448
no
1449
no
1450
no
1451
no
1452
Error: argument of type 'int' is not iterable
1453
no
1454
no
1455
no
1456
no
1457
no
1458
yes
5.5
Error: invalid literal for int() with base 10: '5.5 '
1459
yes
7.68
Error: invalid literal for int() with base 10: '7.68 '
1460
no
1461
no
1462
no
1463
no
1464
yes
5
<class 'int'> 5
5 eurgvrb
1465
no
1466
no
1467
no
1468
yes
25
<class 'int'> 25
25 eurgvrb
1469
yes
1.14
Error: invalid literal for int() with base 10: '1.14 '
1470
yes
17
<class 'int'> 17
17 eurgvrb
1471
no
1472
no
1473
no
1474
no
1475
no
1476
no
1477
no
1478
yes
3.5
Error: invalid literal for int() with base 10: '3.5 '
1479
no
1480
no
1481
yes
1.1
Error: invalid literal for int() with base 10: '1.1 '
1482
no
1483
yes
2.5
Error: invalid literal for int() with base 10: '2.5 '
1484
no
1485
yes
1.44
Error: invalid literal for int() with base 10: '1.44 '
1486
yes
1.1
Error: invalid literal for int() with base 10: '1.1 '
1487
no
1488
yes
2
<class 'int'> 2
2 eurgvrb
1489
no
1490
no
1491
no
1492
yes
80
<class 'int'> 80
80 eurgvrb
1493
no
1494
no
1495
no
1496
no
1497
no
1498
no
1499
no
1500
yes
1.5
Error: invalid literal for int() with base 10: '1.5 '
1501
no
1502
no
1503
no
1504
no
1505
no
1506
no
1507
no
1508
no
1509
no
1510
no
1511
no
1512
no
1513
no
1514
no
1515
yes
2.2
Error: invalid literal for int() with base 10: '2.2 '
1516
no
1517
no
1518
no
1519
no
1520
yes
1.4
Error: invalid literal for int() with base 10: '1.4 '
1521
yes
1.5
Error: invalid literal for int() with base 10: '1.5 '
1522
no
1523
no
1524
no
1525
yes
1.2
Error: invalid literal for int() with base 10: '1.2 '
1526
yes
1.3
Error: invalid literal for int() with base 10: '1.3 '
1527
no
1528
no
1529
no
1530
no
1531
no
1532
no
1533
no
1534
no
1535
no
1536
no
1537
no
1538
no
1539
no
1540
no
1541
no
1542
no
1543
no
1544
no
1545
no
1546
no
1547
no
1548
no
1549
no
1550
no
1551
no
1552
no
1553
no
1554
no
1555
no
1556
no
1557
yes
1.25
Error: invalid literal for int() with base 10: '1.25 '
1558
no
1559
no
1560
no
1561
no
1562
no
1563
no
1564
no
1565
no
1566
no
1567
no
1568
no
1569
yes
2.76
Error: invalid literal for int() with base 10: '2.76 '
1570
no
1571
no
1572
no
1573
no
1574
no
1575
no
1576
no
1577
no
1578
Error: argument of type 'int' is not iterable
1579
no
1580
no
1581
no
1582
no
1583
no
1584
yes
2.7

In [18]:
rent

[75000,
 30000,
 52000,
 60000,
 31000,
 37000,
 200000,
 87000,
 70000,
 80000,
 95000,
 55000,
 75000,
 30000,
 44000,
 31000,
 37000,
 200000,
 87000,
 70000,
 80000,
 95000,
 55000,
 45000,
 39000,
 50000,
 229000,
 50000,
 50000,
 95000,
 38000,
 125000,
 40000,
 0,
 30000,
 12000,
 0,
 60000,
 50000,
 60000,
 55000,
 37000,
 37000,
 48000,
 51000,
 50000,
 276000,
 25000,
 35000,
 66000,
 40000,
 13000,
 37000,
 509000,
 40000,
 47000,
 40000,
 45000,
 50000,
 33000,
 70000,
 47000,
 36000,
 34000,
 35000,
 12000,
 94000,
 122000,
 12000,
 30000,
 40000,
 90000,
 35000,
 48000,
 30000,
 47000,
 40000,
 46000,
 75000,
 16000,
 53000,
 32000,
 37000,
 30000,
 0,
 30000,
 90000,
 0,
 57000,
 34000,
 31000,
 53000,
 50000,
 600000,
 36000,
 75000,
 30000,
 32000,
 0,
 40000,
 70000,
 67000,
 37000,
 40000,
 65000,
 65000,
 42000,
 34000,
 37000,
 27000,
 31000,
 35000,
 45000,
 22000,
 52000,
 75000,
 50000,
 70000,
 1125000,
 40000,
 30000,
 65000,
 70000,
 32000,
 40000,
 37000,
 28000,
 35000,
 45000,
 30000,
 76000,
 45000,
 54000,
 225000,
 70000,
 990000,
 40000,
 300000,
 23000,
 27000,
 38000,
 0,
 55000,
 47000,
 75000,
 45000,
 56000,
 30000,
 55000,
 55000,
 60000,
 73000,
 85000,
 100000,
 45000,
 30000,
 52000,
 47000,
 40000,
 35000,
 65000,
 30000,
 225000,
 35000,
 45000,
 32000,
 52000,
 80000,
 45000,
 67000,
 70000,
 51000,
 25000,
 75000,
 45000,
 60000,
 110000,
 35000,
 135000,
 35000,
 45000,
 27000,
 40000,
 30000,
 40000,
 26000,
 300000,
 35000,
 60000,
 69000,
 85000,
 50000,
 60000,
 35000,
 35000,
 30000,
 285000,
 35000,
 45000,
 52000,
 120000,
 55000,
 1900000,
 35000,
 30000,
 80000,
 56000,
 700000,
 30000,
 37000,
 60000,
 42000,
 50000,
 50000,
 60000,
 57000,
 55000,
 32000,
 45000,
 72000,
 60000,
 500000,
 45000,
 80000,
 48000,
 42000,
 45000,
 40000,
 59000,
 78000,
 35000,
 48000,
 45000,
 33000,
 35000,
 40001,
 55000,
 0,
 63000,
 45000,
 65000,
 300000,
 80000,
 45000,
 750000,
 38000,
 60000,
 38900,
 35000,
 60000,
 50000,
 95000,
 52800,
 42000,
 37000,
 38000,
 500000,
 45000,
 65000,
 180000,
 32000,
 60000,
 0,
 200000,
 40000,
 50000,
 0,
 42000,
 42000,
 70000,
 50000,
 70000,
 50000,
 78000,
 84000,
 39999,
 120000,
 50000,
 50000,
 35000,
 45000,
 600000,
 1700000,
 38000,
 42000,
 45000,
 32000,
 40000,
 300000,
 58000,
 45000,
 35000,
 55000,
 260000,
 28000,
 35000,
 35000,
 40000,
 45000,
 48000,
 45000,
 70000,
 35000,
 27000,
 12000,
 80000,
 90000,
 38000,
 43000,
 1926000,
 55000,
 55000,
 127000,
 44000,
 32000,
 32000,
 34000,
 50000,
 130000,
 40000,
 700000,
 40500,
 55000,
 42000,
 50000,
 45000,
 195000,
 40000,
 58000,
 55000,
 35000,
 28000,
 70000,
 30000,
 45000,
 37900,
 40000,
 55000,
 38000,
 56000,
 42000,
 36000,
 63000,
 45000,
 50000,
 65000,
 38000,
 55000,
 26000,
 35000,
 760000,
 45000,
 30000,
 55000,
 0,
 120000,
 50000,
 55000,
 50000,
 150000,
 130000,
 40000,
 38900,
 525000,
 45000,
 1275000,
 40000,
 50000,
 80000,
 75000,
 26000,
 80000,
 30000,
 45000,
 30000,
 25000,
 40000,
 0,
 40000,
 0,
 40000,
 140000,
 35600,
 30000,
 25000,
 60000,
 50000,
 38000,
 30000,
 58000,
 375000,
 33000,
 50000,
 37000,
 35000,
 50000,
 45600,
 45000,
 36000,
 140000,
 100000,
 37000,
 61000,
 44000,
 50000,
 50000,
 0,
 43000,
 45000,
 50000,
 56000,
 14000,
 32000,
 55000,
 37000,
 50000,
 45000,
 140000,
 50000,
 40000,
 43000,
 80000,
 42000,
 35000,
 25000,
 150000,
 55000,
 55000,
 352000,
 55000,
 33000,
 70000,
 30000,
 175000,
 200000,
 40000,
 310000,
 24000,
 37000,
 100000,
 32000,
 35000,
 0,
 42000,
 32000,
 38000,
 55000,
 42000,
 700000,
 50000,
 56000,
 275000,
 35000,
 1040000,
 37000,
 44800,
 40000,
 55000,
 36000,
 35000,
 40000,
 85000,
 60000,
 45000,
 100000,
 14000,
 57000,
 40000,
 40000,
 40000,
 0,
 450000,
 73000,
 40000,
 35000,
 50000,
 59000,
 20000,
 35000,
 30000,
 31000,
 55000,
 45000,
 50000,
 30000,
 35000,
 35000,
 48000,
 53000,
 50000,
 43000,
 29000,
 1100000,
 36000,
 28000,
 165000,
 40000,
 3500000,
 0,
 38000,
 50000,
 33000,
 42000,
 35000,
 35000,
 200000,
 65000,
 200000,
 110000,
 28000,
 30000,
 42000,
 60000,
 0,
 55000,
 28000,
 40000,
 40000,
 47000,
 30000,
 42000,
 30000,
 40000,
 55000,
 31000,
 140000,
 450000,
 56000,
 30000,
 30000,
 50000,
 100000,
 3250000,
 40000,
 0,
 63000,
 42000,
 45000,
 42000,
 27000,
 30000,
 35000,
 110000,
 1300000,
 60000,
 65000,
 45000,
 46000,
 200000,
 38000,
 33000,
 30000,
 225000,
 0,
 30000,
 22000,
 50000,
 597000,
 27000,
 40000,
 30000,
 45000,
 45000,
 42500,
 35000,
 55000,
 40000,
 0,
 1200000,
 80000,
 65000,
 30000,
 34000,
 35000,
 42000,
 28000,
 45000,
 65000,
 418000,
 33000,
 32000,
 40000,
 30000,
 42000,
 45000,
 30000,
 35000,
 32000,
 79000,
 35000,
 23000,
 48000,
 30000,
 35000,
 48000,
 90000,
 65000,
 181000,
 35000,
 28000,
 40000,
 50000,
 58000,
 32900,
 27000,
 65000,
 80000,
 35000,
 630000,
 100000,
 29000,
 62000,
 40000,
 80000,
 40000,
 25000,
 60000,
 40000,
 28000,
 80000,
 0,
 45000,
 70000,
 55000,
 200000,
 32000,
 36000,
 90000,
 675000,
 500000,
 25000,
 50000,
 60000,
 50000,
 30000,
 40000,
 375000,
 32000,
 750000,
 37000,
 30000,
 52000,
 30000,
 40000,
 475000,
 20000,
 185000,
 500000,
 30000,
 55000,
 95000,
 58000,
 71000,
 40000,
 50000,
 0,
 38000,
 47000,
 40000,
 1200000,
 33000,
 2400000,
 100000,
 32000,
 32000,
 38000,
 72000,
 35000,
 45000,
 52000,
 450000,
 55000,
 39000,
 90000,
 40000,
 352000,
 60000,
 60000,
 37000,
 40600,
 90000,
 38500,
 50000,
 200000,
 65000,
 65000,
 60000,
 28000,
 50000,
 40000,
 600000,
 25000,
 45000,
 60000,
 1100000,
 0,
 30000,
 300000,
 88000,
 43000,
 36000,
 36000,
 100000,
 40000,
 45000,
 50000,
 40000,
 27000,
 35000,
 45000,
 300000,
 38000,
 40000,
 38000,
 65000,
 140000,
 0,
 52000,
 577000,
 200000,
 55000,
 45000,
 0,
 50000,
 57000,
 250000,
 50000,
 30000,
 62000,
 35000,
 41900,
 35000,
 35000,
 28000,
 45000,
 110000,
 55000,
 45000,
 36000,
 25000,
 26000,
 240000,
 50000,
 0,
 23000,
 32000,
 40000,
 65000,
 48000,
 25000,
 120000,
 45800,
 500000,
 76000,
 30000,
 80000,
 850000,
 114000,
 45000,
 40000,
 110000,
 32000,
 0,
 55000,
 48000,
 27000,
 3000000,
 63000,
 46500,
 50000,
 30000,
 32000,
 30000,
 55000,
 28000,
 37000,
 36000,
 21000,
 45000,
 125000,
 50000,
 46000,
 350000,
 85000,
 45000,
 200000,
 40000,
 20000,
 35000,
 32000,
 45000,
 25000,
 35000,
 42000,
 50000,
 26000,
 350000,
 147000,
 90000,
 30000,
 40000,
 36000,
 25000,
 90000,
 42000,
 90000,
 1560000,
 33000,
 35000,
 38000,
 41500,
 36000,
 40000,
 50000,
 125000,
 60000,
 50000,
 70000,
 65000,
 36000,
 19000,
 180000,
 55000,
 30000,
 35000,
 45000,
 50000,
 45000,
 30000,
 80000,
 40000,
 55000,
 42200,
 38000,
 75000,
 28000,
 26000,
 50000,
 26000,
 1476000,
 25000,
 68000,
 45000,
 48000,
 85000,
 65000,
 32000,
 76000,
 70000,
 80000,
 25000,
 45000,
 32000,
 25000,
 46500,
 50000,
 25000,
 55000,
 42000,
 70000,
 195000,
 56000,
 32000,
 75000,
 35000,
 30000,
 120000,
 60000,
 22000,
 35000,
 30000,
 38000,
 35000,
 100000,
 32000,
 40000,
 100000,
 25000,
 35000,
 42000,
 170000,
 30000,
 45000,
 35000,
 135000,
 41000,
 30000,
 40000,
 240000,
 31000,
 130000,
 25000,
 100000,
 40000,
 45000,
 275000,
 75000,
 55000,
 40500,
 33000,
 35000,
 35000,
 24000,
 35000,
 38000,
 28000,
 42000,
 54000,
 48000,
 25000,
 25000,
 32000,
 23000,
 40000,
 48000,
 12000,
 50000,
 38000,
 35000,
 125000,
 55000,
 28000,
 40000,
 65000,
 1300000,
 60000,
 37000,
 200000,
 28000,
 36000,
 0,
 50000,
 40000,
 35000,
 80000,
 35000,
 85000,
 25000,
 48000,
 30000,
 100000,
 0,
 35000,
 45000,
 32000,
 80000,
 22000,
 3200000,
 75000,
 20000,
 50000,
 300000,
 0,
 22000,
 45000,
 2200000,
 85000,
 55000,
 55000,
 0,
 25000,
 55000,
 60000,
 42000,
 84000,
 50000,
 60000,
 44000,
 37000,
 0,
 40000,
 24000,
 0,
 27000,
 0,
 38000,
 48000,
 45000,
 0,
 0,
 90000,
 0,
 0,
 15500,
 26000,
 38000,
 28000,
 18800,
 40000,
 35000,
 60000,
 35000,
 80000,
 38900,
 32000,
 55000,
 85000,
 22000,
 33000,
 22500,
 ...]

In [19]:
df.iloc[33]

Unnamed: 0                                          33
Listing Type                                      Rent
Property Type                              Residential
Building Type                                Apartment
City                                         Bangalore
Locality                             Bannerghatta Road
Area                       1348 Sq.Ft. (Saleable Area)
Rent                                                 0
Furnishing Status                       Semi-Furnished
Number of Rooms                                      0
Number of Bathroom                                   2
Covered Parking                                      1
View                                    Community View
Floor Number                                         8
Tower/Block                                          0
Additional Rooms                                     0
Security Deposit                                 Other
Available From                                       0
Age of Property (Years)                            0-1
Unit No                                              0
Total Floor Count                                    0
Balcony                                      Connected
Open/Uncovered Parking                               0
Deposit amount                                  250000
crime                                               no
hospital                                           yes
Name: 33, dtype: object

In [20]:
df['Rent']=rent

In [21]:
df

,Unnamed: 0,Listing Type,Property Type,Building Type,City,Locality,Area,Rent,Furnishing Status,Number of Rooms,...,Security Deposit,Available From,Age of Property (Years),Unit No,Total Floor Count,Balcony,Open/Uncovered Parking,Deposit amount,crime,hospital
0,0,Rent,Residential,Apartment,Bangalore,Whitefield,1190 Sq.Ft. (Carpet Area),75000,Semi-Furnished,3.5,...,Other,Immediately,4-Feb,1,19,Connected,0,480000,no,no
1,1,Rent,Residential,Apartment,Bangalore,Devanahalli,1250 Sq.Ft. (Built-up Area),30000,Semi-Furnished,2,...,Other,Immediately,0-1,0,24,Connected,1,200000,no,no
2,2,Rent,Residential,Apartment,Bangalore,Kadubeesanahalli,1184 Sq.Ft. (Saleable Area),52000,Semi-Furnished,0,...,Other,Immediately,0,1,Ground floor,0,0,300000,no,no
3,3,Rent,Residential,Apartment,Bangalore,Ashok Nagar,1250 Sq.Ft. (Built-up Area),60000,Furnished,2,...,Other,Immediately,10+,2,5,"Connected,Room-attached",0,500000,no,no
4,4,Rent,Residential,Apartment,Bangalore,Devanahalli,1700 Sq.Ft. (Built-up Area),31000,Semi-Furnished,3,...,Other,Immediately,0-1,0,14,Individual,1,200000,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3597,3603,Rent,Residential,Apartment,Bangalore,Hebbal,1664 Sq.Ft. (Carpet Area),10000,Semi-Furnished,3,...,Other,Immediately,4-Feb,1,3,Room-attached,0,200000,no,no
3598,3604,Rent,Commercial,Office Space,Bangalore,Residency Road,1499 Sq.Ft. (Built-up Area),0,Unfurnished,0,...,0,0,0,0,0,0,0,0,no,no
3599,3605,Rent,Residential,Apartment,Bangalore,Yelahanka,1892 Sq.Ft. (Saleable Area),45000,Semi-Furnished,3,...,Other,Immediately,0-1,1,12,0,0,400000,no,no
3600,3606,Rent,Residential,Apartment,Bangalore,Kudlu,600 Sq.Ft. (Built-up Area),20000,Furnished,1,...,Other,Later,0-1,1,4,Connected,1,120000,no,no
3601,3607,Rent,Residential,Apartment,Bangalore,Doddanekundi,650 Sq.Ft. (Built-up Area),20000,Furnished,1,...,Other,Immediately,7-May,1,6,0,0,80000,no,no

In [22]:
df.to_csv('file1.csv')

In [25]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [26]:
bus_stop=pd.read_csv('bus_stop.csv')
school=pd.read_csv('school.csv')
bus_stop = bus_stop.fillna(0)
school = school.fillna(0)

In [27]:
df

,Unnamed: 0,Listing Type,Property Type,Building Type,City,Locality,Area,Rent,Furnishing Status,Number of Rooms,...,Security Deposit,Available From,Age of Property (Years),Unit No,Total Floor Count,Balcony,Open/Uncovered Parking,Deposit amount,crime,hospital
0,0,Rent,Residential,Apartment,Bangalore,Whitefield,1190 Sq.Ft. (Carpet Area),75000,Semi-Furnished,3.5,...,Other,Immediately,4-Feb,1,19,Connected,0,480000,no,no
1,1,Rent,Residential,Apartment,Bangalore,Devanahalli,1250 Sq.Ft. (Built-up Area),30000,Semi-Furnished,2,...,Other,Immediately,0-1,0,24,Connected,1,200000,no,no
2,2,Rent,Residential,Apartment,Bangalore,Kadubeesanahalli,1184 Sq.Ft. (Saleable Area),52000,Semi-Furnished,0,...,Other,Immediately,0,1,Ground floor,0,0,300000,no,no
3,3,Rent,Residential,Apartment,Bangalore,Ashok Nagar,1250 Sq.Ft. (Built-up Area),60000,Furnished,2,...,Other,Immediately,10+,2,5,"Connected,Room-attached",0,500000,no,no
4,4,Rent,Residential,Apartment,Bangalore,Devanahalli,1700 Sq.Ft. (Built-up Area),31000,Semi-Furnished,3,...,Other,Immediately,0-1,0,14,Individual,1,200000,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3597,3603,Rent,Residential,Apartment,Bangalore,Hebbal,1664 Sq.Ft. (Carpet Area),10000,Semi-Furnished,3,...,Other,Immediately,4-Feb,1,3,Room-attached,0,200000,no,no
3598,3604,Rent,Commercial,Office Space,Bangalore,Residency Road,1499 Sq.Ft. (Built-up Area),0,Unfurnished,0,...,0,0,0,0,0,0,0,0,no,no
3599,3605,Rent,Residential,Apartment,Bangalore,Yelahanka,1892 Sq.Ft. (Saleable Area),45000,Semi-Furnished,3,...,Other,Immediately,0-1,1,12,0,0,400000,no,no
3600,3606,Rent,Residential,Apartment,Bangalore,Kudlu,600 Sq.Ft. (Built-up Area),20000,Furnished,1,...,Other,Later,0-1,1,4,Connected,1,120000,no,no
3601,3607,Rent,Residential,Apartment,Bangalore,Doddanekundi,650 Sq.Ft. (Built-up Area),20000,Furnished,1,...,Other,Immediately,7-May,1,6,0,0,80000,no,no

In [29]:
school

,DISE id,School Name,Management,Medium of Instruction,Category,Sex,Cluster,Block,District,School Type,...,BEO Name,BEO Contact,BEO Mobile,BEO Email,DDPI Name,DDPI Juristiction,DDPI Contact 1,DDPI Contact 2,DDPI Mobile,DDPI Email
0,33396,GKLPS GOPASANDRA,ed,kannada,Lower Primary,co-ed,nerlooru,anekal,bangalore u south,primary,...,D.R.Ramamurthy,080-7829293,9.480695e+09,beo-ank.edu.karbng@kar.nic.in,Ashwatha Narayana Gowda,"DDPI, Bangalore South",P : 080-26701189,F : 080-26705692,M : 9448999327,ddpi-s.edu.karbng@nic.in
1,32856,GKLPS CHOODASANDRA,ed,kannada,Lower Primary,co-ed,huskuru,anekal,bangalore u south,primary,...,D.R.Ramamurthy,080-7829293,9.480695e+09,beo-ank.edu.karbng@kar.nic.in,Ashwatha Narayana Gowda,"DDPI, Bangalore South",P : 080-26701189,F : 080-26705692,M : 9448999327,ddpi-s.edu.karbng@nic.in
2,32918,GKLPS V KALLAHALLI,ed,kannada,Lower Primary,co-ed,dommasandra,anekal,bangalore u south,primary,...,D.R.Ramamurthy,080-7829293,9.480695e+09,beo-ank.edu.karbng@kar.nic.in,Ashwatha Narayana Gowda,"DDPI, Bangalore South",P : 080-26701189,F : 080-26705692,M : 9448999327,ddpi-s.edu.karbng@nic.in
3,33364,GKHPS NERIGE,ed,kannada,Upper Primary,co-ed,mugaluru,anekal,bangalore u south,primary,...,D.R.Ramamurthy,080-7829293,9.480695e+09,beo-ank.edu.karbng@kar.nic.in,Ashwatha Narayana Gowda,"DDPI, Bangalore South",P : 080-26701189,F : 080-26705692,M : 9448999327,ddpi-s.edu.karbng@nic.in
4,33399,GKLPS NARAYANA GATTA,ed,kannada,Lower Primary,co-ed,chandapura,anekal,bangalore u south,primary,...,D.R.Ramamurthy,080-7829293,9.480695e+09,beo-ank.edu.karbng@kar.nic.in,Ashwatha Narayana Gowda,"DDPI, Bangalore South",P : 080-26701189,F : 080-26705692,M : 9448999327,ddpi-s.edu.karbng@nic.in
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1916,37067,Yuvaka Vikasa Hs,ed,kannada,Upper Primary,co-ed,marathahalli,south-4,bangalore u south,primary,...,S.M.Ramesh,080-25614686,9.480695e+09,beo4-s.edu.karbng@kar.nic.in,Ashwatha Narayana Gowda,"DDPI, Bangalore South",P : 080-26701189,F : 080-26705692,M : 9448999327,ddpi-s.edu.karbng@nic.in
1917,37040,Manu Higher Primary School,p-a,kannada,Model Primary,co-ed,rammurthynagar,south-4,bangalore u south,primary,...,S.M.Ramesh,080-25614686,9.480695e+09,beo4-s.edu.karbng@kar.nic.in,Ashwatha Narayana Gowda,"DDPI, Bangalore South",P : 080-26701189,F : 080-26705692,M : 9448999327,ddpi-s.edu.karbng@nic.in
1918,37065,LAL BAHADUR SHASTRI NAGAR HS,ed,kannada,Upper Primary,co-ed,varanasi,south-4,bangalore u south,primary,...,S.M.Ramesh,080-25614686,9.480695e+09,beo4-s.edu.karbng@kar.nic.in,Ashwatha Narayana Gowda,"DDPI, Bangalore South",P : 080-26701189,F : 080-26705692,M : 9448999327,ddpi-s.edu.karbng@nic.in
1919,37012,ST JOSEPH CONVENT KANNADA,ed,kannada,Model Primary,co-ed,varanasi,south-4,bangalore u south,primary,...,S.M.Ramesh,080-25614686,9.480695e+09,beo4-s.edu.karbng@kar.nic.in,Ashwatha Narayana Gowda,"DDPI, Bangalore South",P : 080-26701189,F : 080-26705692,M : 9448999327,ddpi-s.edu.karbng@nic.in
1920,37064,SUNDARI AMMAL HS,ed,0,Upper Primary,co-ed,jodi huskur,south-4,bangalore u south,primary,...,S.M.Ramesh,080-25614686,9.480695e+09,beo4-s.edu.karbng@kar.nic.in,Ashwatha Narayana Gowda,"DDPI, Bangalore South",P : 080-26701189,F : 080-26705692,M : 9448999327,ddpi-s.edu.karbng@nic.in

In [31]:
df=pd.read_csv('house_rent_final.csv')

In [32]:
df

,Unnamed: 0,Listing Type,Property Type,Building Type,City,Locality,Area,Rent,Furnishing Status,Number of Rooms,...,Security Deposit,Available From,Age of Property (Years),Unit No,Total Floor Count,Balcony,Open/Uncovered Parking,Deposit amount,crime,hospital
0,0,Rent,Residential,Apartment,Bangalore,Whitefield,1190 Sq.Ft. (Carpet Area),"75,000",Semi-Furnished,3.5,...,Other,Immediately,4-Feb,1,19,Connected,NaN,480000,no,no
1,1,Rent,Residential,Apartment,Bangalore,Devanahalli,1250 Sq.Ft. (Built-up Area),"30,000",Semi-Furnished,2,...,Other,Immediately,0-1,NaN,24,Connected,1,200000,no,no
2,2,Rent,Residential,Apartment,Bangalore,Kadubeesanahalli,1184 Sq.Ft. (Saleable Area),"52,000",Semi-Furnished,NaN,...,Other,Immediately,NaN,1,Ground floor,NaN,NaN,300000,no,no
3,3,Rent,Residential,Apartment,Bangalore,Ashok Nagar,1250 Sq.Ft. (Built-up Area),"60,000",Furnished,2,...,Other,Immediately,10+,2,5,"Connected,Room-attached",NaN,500000,no,no
4,4,Rent,Residential,Apartment,Bangalore,Devanahalli,1700 Sq.Ft. (Built-up Area),"31,000",Semi-Furnished,3,...,Other,Immediately,0-1,NaN,14,Individual,1,200000,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3597,3603,Rent,Residential,Apartment,Bangalore,Hebbal,1664 Sq.Ft. (Carpet Area),"10,000",Semi-Furnished,3,...,Other,Immediately,4-Feb,1,3,Room-attached,NaN,200000,no,no
3598,3604,Rent,Commercial,Office Space,Bangalore,Residency Road,1499 Sq.Ft. (Built-up Area),NaN,Unfurnished,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no
3599,3605,Rent,Residential,Apartment,Bangalore,Yelahanka,1892 Sq.Ft. (Saleable Area),"45,000",Semi-Furnished,3,...,Other,Immediately,0-1,1,12,NaN,NaN,400000,no,no
3600,3606,Rent,Residential,Apartment,Bangalore,Kudlu,600 Sq.Ft. (Built-up Area),"20,000",Furnished,1,...,Other,Later,0-1,1,4,Connected,1,120000,no,no
3601,3607,Rent,Residential,Apartment,Bangalore,Doddanekundi,650 Sq.Ft. (Built-up Area),"20,000",Furnished,1,...,Other,Immediately,7-May,1,6,NaN,NaN,80000,no,no

In [33]:
temp=df['Locality'].values.flatten().tolist()

In [34]:
temp

['Whitefield',
 'Devanahalli',
 'Kadubeesanahalli',
 'Ashok Nagar',
 'Devanahalli',
 'Whitefield',
 'Kudlu',
 'Sarjapur Road',
 'Konanakunte',
 'Jakkur',
 'Indiranagar',
 'Ramagondanahalli',
 'Whitefield',
 'Devanahalli',
 'Kadugodi',
 'Devanahalli',
 'Whitefield',
 'Kudlu',
 'Sarjapur Road',
 'Konanakunte',
 'Jakkur',
 'Indiranagar',
 'Ramagondanahalli',
 'Sarjapur Road',
 'Yelahanka',
 'Kogilu',
 'Indiranagar',
 'Indiranagar',
 'Devanahalli',
 'Hsr Layout',
 'Sarjapur',
 'Kadugodi',
 'Rajaji Nagar',
 'Bannerghatta Road',
 'International Airport Road',
 'Whitefield',
 'Yelahanka',
 'Hennur Road',
 'Electronic City Phase I',
 'Hennur Road',
 'Kanakapura',
 'Hbr Layout',
 'Thanisandra Main Road',
 'Kogilu',
 'Hebbal',
 'Yelahanka New Town',
 'Frazer Town',
 'International Airport Road',
 'Hrbr Layout',
 'Varthur',
 'Ms Palya',
 'Electronic City Phase I',
 'Kannur',
 'Itpl',
 'Hebbal',
 'Hennur',
 'Tumkur Road',
 'Sarjapur Road',
 'Yelachena Halli',
 'Jakkur',
 'Marathahalli Orr',
 'Koramangala',
 'Thanisandra Main Road',
 'Kudlu',
 'Thanisandra Main Road',
 'Doddanekundi',
 'Bhoganhalli',
 'Koramangala',
 'Whitefield',
 'Kannamangala',
 'Tumkur Road',
 'Richmond Town',
 'Sarjapur Road',
 'Thanisandra',
 'Jakkuru',
 'Panathur',
 'Varthur',
 'Bannerghatta Road',
 'Nelamangala',
 'Hulimavu',
 'Thanisandra',
 'Bagalakunte',
 'Sarjapur Road',
 'Jakkur',
 'Yelahanka',
 'Bagaluru',
 'Off Sarjapur Road',
 'Rajaji Nagar',
 'Hsr Layout',
 'Thanisandra Main Road',
 'Yelahanka',
 'Thanisandra',
 'Hennur Road',
 'Yeshwanthpur',
 'Kannur',
 'Harlur',
 'Jakkur',
 'Bagalakunte',
 'Konanakunte',
 'Koramangala',
 'Harlur',
 'Hsr Layout',
 'Hbr Layout',
 'Kanakapura Road',
 'Hennur Road',
 'Harlur',
 'Electronic City Phase I',
 'Yelahanka',
 'Electronic City Phase I',
 'Padmanabha Nagar',
 'Doddanekundi',
 'Yelahanka',
 'Thanisandra Main Road',
 'Devanahalli',
 'Kannur',
 'Hsr Layout',
 'Electronic City Phase ii',
 'Jakkur',
 'Hoskote',
 'Hsr Layout',
 'Yelahanka',
 'Harlur',
 'Kannur',
 'Kanakapura Road',
 'International Airport Road',
 'Electronic City Phase I',
 'Electronic City Phase I',
 'Narayanapura',
 'Kannur',
 'Yelahanka',
 'Hsr Layout',
 'Thanisandra Main Road',
 'Thanisandra Main Road',
 'Marathahalli Orr',
 'Whitefield',
 'Lavelle Road',
 'Hebbal',
 'Mg Road',
 'Indiranagar',
 'Kanakapura Road',
 'Thanisandra Main Road',
 'Thanisandra Main Road',
 'Thanisandra Main Road',
 'Bennigana Halli',
 'Bannerghatta Road',
 'Kanakapura Road',
 'Thanisandra Main Road',
 'Bannerghatta Road',
 'Varthur',
 'Thanisandra',
 'Hennur',
 'Haralur Road',
 'Banashankari',
 'Kasturi Nagar',
 'Kannur',
 'Yeshwanthpur',
 'Thanisandra Main Road',
 'Varthur',
 'Electronic City Phase I',
 'Hoskote',
 'Varthur',
 'Doddanekundi',
 'Whitefield',
 'Mahadevpura',
 'Hsr Layout',
 'Murugesh Palya',
 'Thanisandra Main Road',
 'Dr Shivarama Karanth Nagar',
 'Sarjapur Road',
 'Haralur Road',
 'Domlur',
 'Kannur',
 'Chandapura Anekal Road',
 'Kammanahalli',
 'Thanisandra Main Road',
 'Hennur',
 'Hoskote',
 'Sarjapur Road',
 'Kothanur',
 'Sarjapur Road',
 'Kannur',
 'Hennur Road',
 'Hsr Layout',
 'Yelahanka',
 'Electronic City Phase I',
 'International Airport Road',
 'Peenya',
 'Sarjapur Road',
 'Hennur Road',
 'Hsr Layout',
 'Bellandur',
 'Hennur',
 'Hebbal',
 'Thanisandra Main Road',
 'Mahadevpura',
 'Iti Layout',
 'Whitefield',
 'Bannerghatta Road',
 'Hennur',
 'Kannur',
 'Hsr Layout Sector 2',
 'Varthur',
 'Hoskote',
 'Tumkur Road',
 'Electronic City Phase I',
 'Bannerghatta Road',
 'Thanisandra Main Road',
 'Mg Road',
 'International Airport Road',
 'Sarjapur Road',
 'Hebbal',
 'Electronic City Phase I',
 'Thanisandra Main Road',
 'Thanisandra Main Road',
 'Kannur',
 'Kannur',
 'Varthur',
 'Jakkur',
 'Thanisandra Main Road',
 'Hsr Layout',
 'Hennur Road',
 'Gollahalli',
 'Hennur',
 'Kothanur',
 'Thanisandra Main Road',
 'Yelachena Halli',
 'Thanisandra Main Road',
 'Thanisandra Main Road',
 'Off Sarjapur Road',
 'Yelachena Halli',
 'Thanisandra Main Road',
 'Thanisandra Main Road',
 'Thanisandra Main Road',
 'Yelahanka',
 'Hsr Layout',
 'Hennur',
 'Jalahalli West',
 'Thanisandra',
 'Kothanur',
 'Thanisandra Main Road',
 'Bellandur',
 'Mahatma Gandhi Road',
 'Hsr Layout',
 'Electronic City',
 'Nayandahalli',
 'Thanisandra',
 'Konanakunte',
 'Mahadevpura',
 'International Airport Road',
 'Varthur',
 'Hennur Road',
 'Off Sarjapur Road',
 'Thanisandra Main Road',
 'Panathur',
 'Hennur Road',
 'Thanisandra Main Road',
 'Thirumanahalli',
 'Electronic City Phase I',
 'Marathahalli Orr',
 'Whitefield',
 'Yelahanka',
 'Old Madras Road',
 'Sahakara Nagar',
 'Koramangala',
 'Thanisandra Main Road',
 'Varthur',
 'Koramangala',
 'Thanisandra Main Road',
 'Thanisandra Main Road',
 'Marathahalli Orr',
 'Bannerghatta Road',
 'Hsr Layout',
 'Yelahanka',
 'Hsr Layout',
 'Varthur',
 'Hennur',
 'Varthur',
 'Thanisandra Main Road',
 'Yelahanka New Town',
 'Tumkur Road',
 'Budigere',
 'Makali',
 'Bellandur',
 'Hsr Layout',
 'Thanisandra Main Road',
 'Murugesh Palya',
 'Thanisandra Main Road',
 'Tumkur Road',
 'Mg Road',
 'Konanakunte',
 'Varthur',
 'Thanisandra Main Road',
 'Budigere',
 'Jeevan Bima Nagar',
 'Tumkur Road',
 'Domlur',
 'Jp Nagar',
 'Thanisandra Main Road',
 'Electronic City Phase I',
 'Hsr Layout',
 'Bannerghatta Road',
 'Frazer Town',
 'Balagere',
 'Devanahalli',
 'Majestic',
 'Sahakara Nagar',
 'Kanakapura Road',
 'Thanisandra',
 'Hsr Layout',
 'Nelamangala',
 'Hebbal',
 'Cambridge Layout',
 'Brookefield',
 'Thanisandra Main Road',
 'Bannerghatta',
 'Thanisandra Main Road',
 'Kr Puram',
 'Hennur Road',
 'Hennur Road',
 'Varthur',
 'Sarjapur Road',
 'Hennur',
 'Kannur',
 'Electronic City Phase I',
 'Hsr Layout',
 'Varthur',
 'Whitefield',
 'Thanisandra Main Road',
 'Cv Raman Nagar',
 'Hebbal',
 'Tumkur Road',
 'International Airport Road',
 'Hsr Layout',
 'Harlur',
 'Tumkur Road',
 'Marathahalli',
 'Hsr Layout',
 'Varthur',
 'Doddanekundi',
 'Thanisandra Main Road',
 'Jp Nagar Phase 7',
 'Hsr Layout',
 'Cooke Town',
 'Thanisandra Main Road',
 'Thanisandra Main Road',
 'Haralur Road',
 'Thanisandra Main Road',
 'Varthur',
 'Jakkur',
 'Hsr Layout',
 'Sarjapur Road',
 'Murugesh Palya',
 'Doddanekundi',
 'Whitefield',
 'Jakkur',
 'Hsr Layout',
 'Thanisandra Main Road',
 'Electronic City Phase I',
 'Indiranagar',
 'Hsr Layout',
 'Harlur',
 'Thanisandra Main Road',
 'Mahadevpura',
 'Hennur',
 'Varthur',
 'Jakkur',
 'Yeshwanthpur',
 'Panathur',
 'Cooke Town',
 'Thanisandra Main Road',
 'International Airport Road',
 'Bannerghatta Road',
 'New Bel Road',
 'Hsr Layout',
 'Yelahanka',
 'Jakkur',
 'Thanisandra Main Road',
 'Sahakara Nagar',
 'Hennur Road',
 'Koramangala',
 'Hsr Layout',
 'Banaswadi',
 'Marathahalli',
 'Doddanekundi',
 'Murugesh Palya',
 'Hebbal',
 'Thanisandra Main Road',
 'Thanisandra',
 'International Airport Road',
 'Konanakunte',
 'Aecs Layout',
 'Bannerghatta',
 'Sanjay Nagar',
 'Thanisandra Main Road',
 'Bannerghatta',
 'Thanisandra Main Road',
 'Doddanekundi',
 'Kanakapura Road',
 'Tumkur Road',
 'Banaswadi',
 'Varthur',
 'Hsr Layout',
 'Hennur Road',
 'Varthur',
 'Btm Layout',
 'Hennur Road',
 'Marathahalli',
 'Hennur',
 'Thanisandra',
 'Nagavara',
 'Hulimavu',
 'Ms Palya',
 'Thippasandra',
 'Hebbal',
 'Thanisandra Main Road',
 'Thanisandra Main Road',
 'Thanisandra Main Road',
 'Jayanagar',
 'Off Sarjapur Road',
 'Hennur Road',
 'Hennur Road',
 'Hsr Layout',
 'Arekere',
 'Kanakapura Road',
 'Bagalakunte',
 'Banaswadi',
 'Kothanur',
 'Hsr Layout',
 'Kalyan Nagar',
 'Hebbal',
 'Murugesh Palya',
 'Varthur',
 'Bagalakunte',
 'Indiranagar',
 'Marathahalli Orr',
 'Mahadevpura',
 'Seshadripuram',
 'Ramamurthy Nagar',
 'Thanisandra Main Road',
 'Hebbal',
 'Jakkur',
 'Hennur Road',
 'Kodihalli',
 'Electronic City Phase I',
 'Hsr Layout',
 'International Airport Road',
 'Thanisandra Main Road',
 'Murugesh Palya',
 'Whitefield',
 'Mahadevpura',
 'Bannerghatta Road',
 'Aavalahalli',
 'Hsr Layout',
 'Sarjapur Road',
 'Hbr Layout',
 'Mahadevpura',
 'Koramangala',
 'Indiranagar',
 'Thanisandra Main Road',
 'Jp Nagar Phase 8',
 'Thanisandra Main Road',
 'Varthur',
 'Kanakapura Road',
 'Varthur',
 'Millers Road',
 'Doddanekundi',
 'Bannerghatta Road',
 'Hennur',
 'Thanisandra Main Road',
 'Kanakapura Road',
 'Whitefield',
 'Hbr Layout',
 'Koramangala',
 'Kannur',
 'Mahadevpura',
 'Hennur',
 'Hebbal',
 'Harlur',
 'International Airport Road',
 'Yeshwanthpur',
 'Murugesh Palya',
 'Thanisandra',
 'Electronic City Phase I',
 'Bannerghatta Road',
 'Margondanahalli',
 'Hennur',
 'Vidyaranyapura',
 'Varthur',
 'Hulimavu',
 'Hsr Layout',
 'Hennur',
 'Murugesh Palya',
 'Sahakara Nagar',
 'International Airport Road',
 'Doddanekundi',
 'Indiranagar',
 'Electronic City Phase I',
 'Sanjay Nagar',
 'Yelahanka',
 'Kr Puram',
 'Thanisandra Main Road',
 'Hennur Road',
 'Hsr Layout',
 'Kr Puram',
 'Hennur Road',
 'Thanisandra Main Road',
 'Varthur',
 'Doddanekundi',
 'Bellandur',
 'Yelahanka',
 'Mahadevpura',
 'Varthur',
 'Cooke Town',
 'Koramangala',
 'Hulimavu',
 'Dasarahalli',
 'Hennur',
 'Murugesh Palya',
 'Koramangala',
 'Marathahalli',
 'Gunjur Palya',
 'Doddanekundi',
 'Hennur',
 'Kanakapura',
 'Whitefield Road',
 'Hebbal',
 'Indiranagar',
 'Old Madras Road',
 'Hennur',
 'Bagalakunte',
 'Thanisandra Main Road',
 'Rajanukunte',
 'Sarjapur Road',
 'Sarjapur Road',
 'Kasturi Nagar',
 'Thanisandra',
 'Sivanchetti Gardens',
 'Panathur',
 'Koramangala',
 'International Airport Road',
 'Murugesh Palya',
 'Thanisandra Main Road',
 'Mg Road',
 'Indiranagar',
 'Bellandur',
 'Mg Road',
 'Thanisandra Main Road',
 'Mahadevpura',
 'Peenya Industrial Area',
 'Thanisandra Main Road',
 'Old Madras Road',
 'Tumkur Road',
 'Hsr Layout',
 'Koramangala',
 'Whitefield',
 'Munnekollal',
 'Mangalore',
 'Brigade Road',
 'International Airport Road',
 'Bannerghatta Road',
 'New Bel Road',
 'Electronic City Phase I',
 'Budigere',
 'Thanisandra Main Road',
 'Seshadripuram',
 'Hulimavu',
 'Mahadevpura',
 'Murugesh Palya',
 'Indiranagar',
 'Hebbal',
 'Hsr Layout',
 'Thanisandra Main Road',
 'Hennur Road',
 'Thanisandra Main Road',
 'Hennur',
 'International Airport Road',
 'Dollars Colony',
 'Whitefield',
 'Babusa Palya',
 'Harlur',
 'Whitefield Road',
 'Bannerghatta Road',
 'Harlur',
 'Sarjapur Road',
 'Panathur',
 'Hennur',
 'Cambridge Layout',
 'International Airport Road',
 'Kothanur',
 'Hennur',
 'Murugesh Palya',
 'Hosur Road',
 'Tumkur Road',
 'Hennur Road',
 'Hebbal',
 'Hsr Layout',
 'Yelahanka',
 'Kothanur',
 'Old Madras Road',
 'Haralur Road',
 'Doddaballapura Road',
 'Balagere',
 'Bellandur',
 'Mahadevpura',
 'International Airport Road',
 'Sarjapur Road',
 'Varthur',
 'Sarjapur Road',
 'Hennur',
 'Cooke Town',
 'Peenya',
 'Vasanth Nagar',
 'Harlur',
 'Whitefield',
 'Hennur',
 'Jakkur',
 'Kothanur',
 'Murugesh Palya',
 'Hsr Layout',
 'Hebbal',
 'Bhoganhalli',
 'Kaggadasapura',
 'Harlur',
 'Bannerghatta Road',
 'Malleswaram',
 'Bagalakunte',
 'Thanisandra',
 'Vasanth Nagar',
 'Mg Road',
 'Richmond Town',
 'Marathahalli',
 'Mahadevpura',
 'Harlur',
 'Mahadevpura',
 'Whitefield',
 'Thanisandra Main Road',
 'Nandi Hills',
 'Doddaballapura Road',
 'Sarjapur Road',
 'Koramangala',
 'Yeshwanthpur',
 'Panathur',
 'Thanisandra Main Road',
 'Thanisandra Main Road',
 'Nandi Hills',
 'Murugesh Palya',
 'Marathahalli Orr',
 'Hesaraghatta',
 'International Airport Road',
 'Kanakapura',
 'Cooke Town',
 'Mahadevpura',
 'New Thippasandra',
 'Doddanekundi',
 'Whitefield',
 'Electronic City Phase I',
 'Jakkur',
 'Begur Road',
 'Sarjapur Road',
 'Residency Road',
 'Jakkur',
 'St Marks Road',
 'Yemalur',
 'Doddaballapura Road',
 'Bagalakunte',
 'Electronic City Phase I',
 'Marathahalli Orr',
 'Murugesh Palya',
 'Sarjapur Road',
 'Kanakapura Road',
 'Seshadripuram',
 'Hsr Layout',
 'Panathur',
 'Hebbal Kempapura',
 'Thanisandra Main Road',
 'Jp Nagar',
 'Cooke Town',
 'Bannerghatta Road',
 'Bannerghatta Road',
 'Marathahalli',
 'Bellandur',
 'Hennur',
 'Thanisandra',
 'Hebbal',
 'Kannur',
 'Hsr Layout',
 'Richmond Town',
 'Harlur',
 'Bellandur',
 'Bannerghatta Road',
 'Malleswaram',
 'Tumkur Road',
 'Electronic City Phase I',
 'Bhuvaneshwari Nagar',
 'Horamavu',
 'Thanisandra Main Road',
 'Murugesh Palya',
 'Aecs Layout',
 'Rajaji Nagar',
 'Old Madras Road',
 'Koramangala',
 'Attibele',
 'Hebbal',
 'Thanisandra Main Road',
 'Pai Layout',
 'Kannur',
 'Hennur Road',
 'Hsr Layout',
 'Kanakapura Road',
 'Mahadevpura',
 'Seshadripuram',
 'Electronic City Phase I',
 'Kr Puram',
 'Kr Puram',
 'Cox Town',
 'Hsr Layout',
 'Kasturi Nagar',
 'Kanakapura',
 'Doddanekundi',
 'Langford Road',
 'Kanakapura',
 'Sarjapur Road',
 'Yelahanka',
 'Mahadevpura',
 'Bannerghatta Road',
 'Singasandra',
 'Ramamurthy Nagar',
 'Doddanekundi',
 'Varthur',
 'Shettihalli',
 'Marathahalli',
 'International Airport Road',
 'Hennur',
 'Murugesh Palya',
 'Hennur',
 'Outer Ring Road',
 'Off Sarjapur Road',
 'Hennur',
 'Tumkur Road',
 'Rajaji Nagar',
 'Yelahanka',
 'Banaswadi',
 'Varthur',
 'Electronic City Phase I',
 'Murugesh Palya',
 'Jakkur',
 'Hennur',
 'Cooke Town',
 'Panathur',
 'Yelahanka',
 'Kadugodi',
 'Mahadevpura',
 'Lavelle Road',
 'Haralur Road',
 'Tumkur Road',
 'Hebbal',
 'Indiranagar',
 'Bannerghatta Road',
 'Old Madras Road',
 'Budigere',
 'Koramangala',
 'Hsr Layout',
 'Marathahalli',
 'Sarjapur Road',
 'Varthur',
 'Yelahanka',
 'Ramamurthy Nagar',
 'Cooke Town',
 'Doddanekundi',
 'Thanisandra Main Road',
 'Tumkur Road',
 'Marathahalli',
 'Yeshwanthpur',
 'Harlur',
 'Yelahanka',
 'Whitefield',
 'International Airport Road',
 'Murugesh Palya',
 'Electronic City Phase I',
 'Horamavu',
 'Sarjapur Road',
 'Panathur',
 'Indiranagar',
 'Hsr Layout',
 'Cooke Town',
 'Infantry Road',
 'Kannur',
 'Doddabanahalli',
 'Thanisandra',
 'Marathahalli',
 'Thanisandra Main Road',
 'Thanisandra',
 'Kanakapura Road',
 'Koramangala',
 'Jp Nagar Phase 7',
 'Murugesh Palya',
 'Koramangala',
 'Bilekahalli',
 'Jalahalli West',
 'Yelahanka',
 'Thanisandra Main Road',
 'Hsr Layout',
 'Varthur',
 'Palace Road',
 'Frazer Town',
 'Richmond Town',
 'Sarjapur Bagalur Road',
 'Thanisandra Main Road',
 'Frazer Town',
 'Horamavu',
 'Maithri Layout',
 'Tumkur Road',
 'Mahadevpura',
 'Bannerghatta Road',
 'Horamavu',
 'Jakkur',
 'Indiranagar',
 'Bellandur',
 'Hsr Layout',
 'Electronic City Phase I',
 'Nri Layout',
 'Kasturi Nagar',
 'Sarjapur Road',
 'Vidyaranyapura',
 'Hegde Nagar',
 'Thanisandra Main Road',
 'Hebbal',
 'Kanakapura Road',
 'Kadugodi',
 'Doddakammanahalli',
 'Hsr Layout',
 'Off Sarjapur Road',
 'Marathahalli',
 'Ejipura',
 'Hsr Layout Sector 2',
 'Murugesh Palya',
 'Yelahanka',
 'Sarjapur Road',
 'Chinnapanna Halli',
 'Koramangala',
 'Thanisandra Main Road',
 'Varthur',
 'Rajaji Nagar',
 'Varthur',
 'Marathahalli Orr',
 'Off Sarjapur Road',
 'Thanisandra',
 'Varthur',
 'Varthur',
 'Haralur Road',
 'Murugesh Palya',
 'Rajaji Nagar',
 'Maithri Layout',
 'Banaswadi',
 'Mahadevpura',
 'Chikkakannalli',
 'Yelahanka',
 'Old Madras Road',
 'Bannerghatta',
 'Domlur',
 'Malleswaram',
 'Whitefield',
 'Thanisandra',
 'Bannerghatta Road',
 'New Thippasandra',
 'Varthur',
 'Jakkur',
 'Hennur Road',
 'Chinnapanna Halli',
 'Thanisandra',
 'Whitefield',
 'Hosur Road',
 'Sarjapur Road',
 'Koramangala',
 'Jakkur',
 'Koramangala',
 'Hebbal',
 'Yelahanka',
 'Frazer Town',
 'Electronic City Phase ii',
 'Koramangala',
 'Doddanekundi',
 'Hsr Layout',
 'Murugesh Palya',
 'Jayanagar',
 'Jakkur',
 'Hebbal',
 'Doddaballapura Road',
 'Hrbr Layout',
 'Marathahalli Orr',
 'Langford Town',
 'Yelahanka',
 'Ashok Nagar',
 'Bannerghatta Road',
 'Yelahanaka Af Road',
 'Whitefield',
 'Hsr Layout',
 'Kanakapura',
 'Maithri Layout',
 'Whitefield',
 'Koramangala',
 'Sarjapur Road',
 'Murugesh Palya',
 'Devanahalli',
 'Hennur',
 'Yelahanka',
 'Electronic City Phase I',
 'Cambridge Layout',
 'Varthur',
 'Hsr Layout',
 'Jakkur',
 'Jp Nagar Phase 7',
 'Thanisandra Main Road',
 'Bellandur',
 'Electronic City Phase I',
 'Sarjapur Road',
 'Old Madras Road',
 'Whitefield',
 'Mahadevpura',
 'Kothanur',
 'Kothanur',
 'Yelahanka',
 'Malleswaram',
 'Dollars Colony',
 'Old Airport Road',
 'Bellandur',
 'Bellandur',
 'Jayanagar',
 'Hsr Layout',
 'Tumkur Road',
 'Hrbr Layout',
 'Whitefield',
 'Kanakapura Road',
 'Agrahara Badavane',
 'Jayanagar',
 'Thanisandra',
 'Yemalur',
 'Malleswaram',
 'Electronic City Phase I',
 'Ms Palya',
 'Cooke Town',
 'Whitefield',
 'Thanisandra Main Road',
 'Varthur',
 'Jakkur',
 'Bellandur',
 'Jakkur',
 'Rajaji Nagar',
 'Hsr Layout',
 'K Channasandra',
 'Thanisandra Main Road',
 'Mg Road',
 'Queens Road',
 'Munnekollal',
 'Doddanekundi',
 'Kaggadasapura',
 'Nagavara',
 'Mahadevpura',
 'Kothanur',
 'Sadashiva Nagar',
 'Murugesh Palya',
 'Hsr Layout',
 'Hebbal',
 'Electronic City Phase I',
 'Sarjapur Road',
 'Varthur',
 'Langford Road',
 'Electronic City Phase I',
 'Horamavu',
 'Kothanur',
 'Maithri Layout',
 'Hsr Layout',
 'Mg Road',
 'Sarjapur Road',
 'Kothanur',
 'Hennur',
 'Varthur',
 'Banashankari 3rd Stage',
 'Begur Road',
 'Mahatma Gandhi Road',
 'Banaswadi',
 'Hoskote',
 'Richmond Circle',
 'Hulimavu',
 'Hsr Layout',
 'Koramangala',
 'Hsr Layout',
 'Doddanekundi',
 'Yeshwanthpur',
 'Yeshwanthpur',
 'Hebbal',
 'Budigere',
 'Whitefield',
 'Marathahalli',
 'Bagalakunte',
 'Varthur',
 'Yelachena Halli',
 'Jakkur',
 'Hennur Road',
 'Kodihalli',
 ...]

In [35]:
bus_stop=pd.read_csv('bus_stop.csv')
school=pd.read_csv('school.csv')
bus_stop = bus_stop.fillna(0)
school = school.fillna(0)

In [36]:
school=school[['Cluster', 'Block', 'Assembly', 'District']]
school

             Cluster    Block      Assembly           District
0           nerlooru   anekal        Anekal  bangalore u south
1            huskuru   anekal     K.R. Pura  bangalore u south
2        dommasandra   anekal        Anekal  bangalore u south
3           mugaluru   anekal        Anekal  bangalore u south
4         chandapura   anekal        Anekal  bangalore u south
...              ...      ...           ...                ...
1916    marathahalli  south-4     K.R. Pura  bangalore u south
1917  rammurthynagar  south-4  Mahadevapura  bangalore u south
1918        varanasi  south-4     K.R. Pura  bangalore u south
1919        varanasi  south-4  Mahadevapura  bangalore u south
1920     jodi huskur  south-4             0  bangalore u south

[1921 rows x 4 columns]

In [37]:
Cluster=school['Cluster']

In [39]:
Cluster=school['Cluster'].values.flatten().tolist()
Block=school['Block'].values.flatten().tolist()
Assembly=school['Assembly'].values.flatten().tolist()
District=school['District'].values.flatten().tolist()

In [40]:
Cluster

['nerlooru',
 'huskuru',
 'dommasandra',
 'mugaluru',
 'chandapura',
 'dommasandra',
 'nerlooru',
 'mugaluru',
 'nerlooru',
 'mugaluru',
 'anekal',
 'dommasandra',
 'bannerughatta',
 'haragadde',
 'bannerughatta',
 'haragadde',
 'dommasandra',
 'mugaluru',
 'attibele',
 'sabmangala',
 'chikkahosahalli',
 'harappana halli',
 'haragadde',
 'attibele',
 'chikkahosahalli',
 'bannerughatta',
 'harappana halli',
 'attibele',
 'hebbagodi',
 'harappana halli',
 'nerlooru',
 'bannerughatta',
 'bannerughatta',
 'mugaluru',
 'mugaluru',
 'sarjapura',
 'byagadadenahalli',
 'bannerughatta',
 'nerlooru',
 'byagadadenahalli',
 'byagadadenahalli',
 'attibele',
 'chikkahosahalli',
 'sabmangala',
 'anekal urdu',
 'jigani',
 'sabmangala',
 'bannerughatta',
 'harappana halli',
 'sabmangala',
 'bannerughatta',
 'chikkahosahalli',
 'hennagra',
 'hebbagodi',
 'mugaluru',
 'bannerughatta',
 'hennagra',
 'attibele',
 'chikkahosahalli',
 'anekal',
 'hebbagodi',
 'huskuru',
 'hebbagodi',
 'byagadadenahalli',
 'haragadde',
 'haragadde',
 'nerlooru',
 'bannerughatta',
 'anekal',
 'anekal urdu',
 'haragadde',
 'anekal',
 'sabmangala',
 'mugaluru',
 'byagadadenahalli',
 'harappana halli',
 'chikkahosahalli',
 'anekal',
 'haragadde',
 'nerlooru',
 'sarjapura',
 'anekal',
 'mantapa',
 'mugaluru',
 'huskuru',
 'bannerughatta',
 'nerlooru',
 'chikkahosahalli',
 'harappana halli',
 'chikkahosahalli',
 'anekal urdu',
 'anekal',
 'sarjapura',
 'sarjapura',
 'anekal',
 'hennagra',
 'hennagra',
 'mugaluru',
 'hennagra',
 'chikkahosahalli',
 'huskuru',
 'huskuru',
 'harappana halli',
 'harappana halli',
 'sarjapura',
 'hennagra',
 'hennagra',
 'chikkahosahalli',
 'harappana halli',
 'hennagra',
 'chikkahosahalli',
 'sabmangala',
 'haragadde',
 'sabmangala',
 'attibele',
 'anekal urdu',
 'huskuru',
 'sabmangala',
 'nerlooru',
 'chikkahosahalli',
 'anekal',
 'bannerughatta',
 'sabmangala',
 'dommasandra',
 'harappana halli',
 'mantapa',
 'dommasandra',
 'anekal',
 'chikkahosahalli',
 'hebbagodi',
 'bannerughatta',
 'bannerughatta',
 'dommasandra',
 'sarjapura',
 'huskuru',
 'nerlooru',
 'chandapura',
 'mugaluru',
 'dommasandra',
 'mugaluru',
 'mugaluru',
 'mugaluru',
 'mugaluru',
 'huskuru',
 'mugaluru',
 'huskuru',
 'hebbagodi',
 'anekal',
 'bannerughatta',
 'bannerughatta',
 'mugaluru',
 'chikkahosahalli',
 'huskuru',
 'chandapura',
 'hebbagodi',
 'hennagra',
 'hennagra',
 'sabmangala',
 'nerlooru',
 'sarjapura',
 'harappana halli',
 'chikkahosahalli',
 'anekal urdu',
 'chikkahosahalli',
 'sabmangala',
 'anekal',
 'chikkahosahalli',
 'byagadadenahalli',
 'haragadde',
 'anekal',
 'anekal urdu',
 'hennagra',
 'sarjapura',
 'bannerughatta',
 'anekal',
 'attibele',
 'anekal',
 'chandapura',
 'harappana halli',
 'anekal',
 'byagadadenahalli',
 'haragadde',
 'haragadde',
 'jigani',
 'sabmangala',
 'byagadadenahalli',
 'harappana halli',
 'byagadadenahalli',
 'harappana halli',
 'hennagra',
 'jigani',
 'sarjapura',
 'chikkahosahalli',
 'nerlooru',
 'mugaluru',
 'haragadde',
 'chandapura',
 'attibele',
 'hennagra',
 'byagadadenahalli',
 'byagadadenahalli',
 'bannerughatta',
 'huskuru',
 'sabmangala',
 'harappana halli',
 'mugaluru',
 'harappana halli',
 'byagadadenahalli',
 'byagadadenahalli',
 'bannerughatta',
 'mugaluru',
 'nerlooru',
 'attibele',
 'hennagra',
 'anekal',
 'sabmangala',
 'sarjapura',
 'chikkahosahalli',
 'sarjapura',
 'haragadde',
 'dommasandra',
 'chikkahosahalli',
 'chandapura',
 'attibele',
 'byagadadenahalli',
 'hennagra',
 'byagadadenahalli',
 'sarjapura',
 'mugaluru',
 'bannerughatta',
 'byagadadenahalli',
 'chikkahosahalli',
 'sarjapura',
 'sarjapura',
 'haragadde',
 'attibele',
 'anekal',
 'sarjapura',
 'harappana halli',
 'hennagra',
 'nerlooru',
 'attibele',
 'anekal urdu',
 'sabmangala',
 'attibele',
 'sarjapura',
 'mugaluru',
 'byagadadenahalli',
 'haragadde',
 'mugaluru',
 'chikkahosahalli',
 'chandapura',
 'dommasandra',
 'sarjapura',
 'sarjapura',
 'hebbagodi',
 'huskuru',
 'attibele',
 'anekal urdu',
 'sabmangala',
 'sabmangala',
 'mayasandra',
 'harappana halli',
 'sarjapura',
 'nerlooru',
 'dommasandra',
 'hebbagodi',
 'hebbagodi',
 'sabmangala',
 'byagadadenahalli',
 'chandapura',
 'bannerughatta',
 'chandapura',
 'hebbagodi',
 'bmpcluster',
 'bmpcluster',
 'bmpcluster',
 'bmpcluster',
 'bmpcluster',
 'bmpcluster',
 'bmpcluster',
 'bmpcluster',
 'bmpcluster',
 'bmpcluster',
 'bmpcluster',
 'bmpcluster',
 'channahalli',
 'sadahalli',
 'sadahalli',
 'channahalli',
 'devanahalli',
 'channahalli',
 'devanahalli',
 'channahalli',
 'nalluru',
 'nalluru',
 'channahalli',
 'sadahalli',
 'channahalli',
 'sadahalli',
 'sadahalli',
 'devanahalli',
 'devanahalli',
 'devanahalli',
 'sadahalli',
 'devanahalli',
 'devanahalli',
 'devanahalli',
 'boodigere',
 'boodigere',
 'boodigere',
 'boodigere',
 'boodigere',
 'boodigere',
 'boodigere',
 'devanahalli',
 'nalluru',
 'channahalli',
 'devanahalli',
 'nalluru',
 'sadahalli',
 'channahalli',
 'nalluru',
 'channahalli',
 'nalluru',
 'sadahalli',
 'devanahalli',
 'channahalli',
 'sadahalli',
 'nalluru',
 'devanahalli',
 'channahalli',
 'nalluru',
 'nalluru',
 'sadahalli',
 'channahalli',
 'sadahalli',
 'sadahalli',
 'devanahalli',
 'sadahalli',
 'devanahalli',
 'boodigere',
 'boodigere',
 'boodigere',
 'boodigere',
 'bendiganahalli',
 'bendiganahalli',
 'bendiganahalli',
 'bilanarasapura',
 'doddanhulluru',
 'mugbala',
 'doddanhulluru',
 'doddanallala',
 'mugbala',
 'doddagattinabbe',
 'mugbala',
 'doddanhulluru',
 'mugbala',
 'mugbala',
 'doddanhulluru',
 'doddagattinabbe',
 'doddagattinabbe',
 'bilanarasapura',
 'bilanarasapura',
 'doddanallala',
 'doddanallala',
 't agrahara',
 't agrahara',
 't agrahara',
 't agrahara',
 'doddanallala',
 'hosakote town',
 'doddagattinabbe',
 'sulibele',
 'sulibele',
 'alappanahalli',
 'alappanahalli',
 'alappanahalli',
 'alappanahalli',
 'alappanahalli',
 'alappanahalli',
 'kalkunte',
 'kalkunte',
 'kalkunte',
 'kalkunte',
 'kalkunte',
 'kalkunte',
 'kalkunte',
 'vagata',
 'vagata',
 'vagata',
 'vagata',
 'doddagattinabbe',
 'vagata',
 'vagata',
 'jadigenahalli',
 'nandagudi',
 'nandagudi',
 'nandagudi',
 'nandagudi',
 'nandagudi',
 'nandagudi',
 'nandagudi',
 'nelavagilu',
 'nandagudi',
 'nandagudi',
 'shivanapura',
 'shivanapura',
 'shivanapura',
 'shivanapura',
 'shivanapura',
 'shivanapura',
 'shivanapura',
 'shivanapura',
 'bendiganahalli',
 'bendiganahalli',
 'bendiganahalli',
 'bendiganahalli',
 'hosakote town',
 'hosakote town',
 'hosakote town',
 'hosakote town',
 'hosakote town',
 'hosakote town',
 'devanagundi',
 'devanagundi',
 'devanagundi',
 'devanagundi',
 'devanagundi',
 'devanagundi',
 'devanagundi',
 'devanagundi',
 'devanagundi',
 'samethanahalli',
 'samethanahalli',
 'samethanahalli',
 'samethanahalli',
 'samethanahalli',
 'samethanahalli',
 'jadigenahalli',
 'jadigenahalli',
 'doddanallala',
 'doddanallala',
 'jadigenahalli',
 'doddanallala',
 'thavarekere',
 'thavarekere',
 'doddanallala',
 'thavarekere',
 'mugbala',
 'thavarekere',
 'thavarekere',
 'thavarekere',
 'thavarekere',
 'thavarekere',
 'thavarekere',
 'kalkunte',
 'bilanarasapura',
 'bilanarasapura',
 'nelavagilu',
 'bilanarasapura',
 'nelavagilu',
 'beguru',
 'beguru',
 'beguru',
 'beguru',
 'beguru',
 'beguru',
 'beguru',
 'beguru',
 'beguru',
 'sulibele',
 'sulibele',
 't agrahara',
 'sulibele',
 'sulibele',
 'nelavagilu',
 'kalkunte',
 'hosakote town',
 'hosakote town',
 'nandagudi',
 'nandagudi',
 'doddagattinabbe',
 'samethanahalli',
 'jadigenahalli',
 'nelavagilu',
 'nandagudi',
 'nelavagilu',
 'kalkunte',
 'bendiganahalli',
 'beguru',
 'shivanapura',
 'doddagattinabbe',
 'mugbala',
 'doddanhulluru',
 'bilanarasapura',
 'doddanhulluru',
 'doddanhulluru',
 'doddanhulluru',
 'doddanhulluru',
 'doddagattinabbe',
 'doddagattinabbe',
 'mugbala',
 'doddagattinabbe',
 'doddanhulluru',
 'doddagattinabbe',
 'mugbala',
 'mugbala',
 'doddagattinabbe',
 'doddanhulluru',
 'doddanallala',
 'doddanallala',
 't agrahara',
 't agrahara',
 't agrahara',
 't agrahara',
 'thavarekere',
 'jadigenahalli',
 'nandagudi',
 'nelavagilu',
 'sulibele',
 'sulibele',
 'sulibele',
 'alappanahalli',
 'alappanahalli',
 'alappanahalli',
 'alappanahalli',
 'alappanahalli',
 'alappanahalli',
 'alappanahalli',
 'alappanahalli',
 'kalkunte',
 'kalkunte',
 'kalkunte',
 'kalkunte',
 'jadigenahalli',
 'vagata',
 'vagata',
 'vagata',
 'vagata',
 'vagata',
 'jadigenahalli',
 'vagata',
 'nandagudi',
 'nandagudi',
 'nandagudi',
 'nelavagilu',
 'mugbala',
 'mugbala',
 'mugbala',
 'shivanapura',
 'shivanapura',
 'shivanapura',
 'shivanapura',
 'shivanapura',
 'shivanapura',
 'bendiganahalli',
 'bendiganahalli',
 'hosakote town',
 'hosakote town',
 'hosakote town',
 'hosakote town',
 'hosakote town',
 'doddagattinabbe',
 'doddagattinabbe',
 'devanagundi',
 'devanagundi',
 'devanagundi',
 'devanagundi',
 'devanagundi',
 'devanagundi',
 'vagata',
 'samethanahalli',
 'samethanahalli',
 'samethanahalli',
 'samethanahalli',
 'samethanahalli',
 'jadigenahalli',
 'jadigenahalli',
 'jadigenahalli',
 'jadigenahalli',
 'jadigenahalli',
 'jadigenahalli',
 'mugbala',
 'doddanallala',
 'thavarekere',
 'thavarekere',
 'thavarekere',
 'thavarekere',
 'thavarekere',
 'thavarekere',
 'nelavagilu',
 'bilanarasapura',
 'bilanarasapura',
 'bilanarasapura',
 'nelavagilu',
 'nelavagilu',
 'nelavagilu',
 'nelavagilu',
 'nelavagilu',
 'beguru',
 'beguru',
 'sulibele',
 'sulibele',
 'sulibele',
 'sulibele',
 't agrahara',
 'bilanarasapura',
 'bendiganahalli',
 'devanagundi',
 'krishnanandanagara',
 'krishnanandanagara',
 'machohalli',
 'machohalli',
 'machohalli',
 'machohalli',
 'machohalli',
 'machohalli',
 'laggere',
 'peenya',
 'shivanagara',
 'kurubarahalli',
 'sondekoppa',
 'laggere',
 'sondekoppa',
 'chikkabidarakallu',
 'chikkabidarakallu',
 'madanayakanahalli',
 'kurubarahalli',
 'madanayakanahalli',
 'kurubarahalli',
 'heggnahalli',
 'madanayakanahalli',
 'heggnahalli',
 'heggnahalli',
 'heggnahalli',
 'heggnahalli',
 'heggnahalli',
 'byadarahalli',
 'sondekoppa',
 'sondekoppa',
 'madanayakanahalli',
 'sondekoppa',
 'ullau new town',
 'mallasandra',
 'chikkabidarakallu',
 'peenya',
 'mallasandra',
 'byadarahalli',
 'ullau new town',
 'ullau new town',
 'ullau new town',
 'sondekoppa',
 'kamakshipalya',
 'mallasandra',
 'mallasandra',
 'kamakshipalya',
 'chikkabidarakallu',
 'madanayakanahalli',
 'kamakshipalya',
 'machohalli',
 'machohalli',
 'krishnanandanagara',
 'byadarahalli',
 'kurubarahalli',
 'mallasandra',
 'laggere',
 'ullau new town',
 'heggnahalli',
 'chikkabidarakallu',
 'byadarahalli',
 'machohalli',
 'laggere',
 'heggnahalli',
 'kamakshipalya',
 'kurubarahalli',
 'rajajinagar',
 'rajajinagar',
 'shivanagara',
 'ullau new town',
 'machohalli',
 'machohalli',
 'machohalli',
 'sondekoppa',
 'krishnanandanagara',
 'machohalli',
 'machohalli',
 'machohalli',
 'laggere',
 'ullau new town',
 'ullau new town',
 'shivanagara',
 'laggere',
 'sondekoppa',
 'shivanagara',
 'sondekoppa',
 'madanayakanahalli',
 'madanayakanahalli',
 'madanayakanahalli',
 'madanayakanahalli',
 'machohalli',
 'kurubarahalli',
 'chikkabidarakallu',
 'byadarahalli',
 'heggnahalli',
 'chikkabidarakallu',
 'machohalli',
 'sondekoppa',
 'sondekoppa',
 'mallasandra',
 'laggere',
 'ullau new town',
 'ullau new town',
 'mallasandra',
 'chikkabidarakallu',
 'peenya',
 'chikkabidarakallu',
 'chikkabidarakallu',
 'chikkabidarakallu',
 'ullau new town',
 'ullau new town',
 'chikkabidarakallu',
 'rajajinagar',
 'juganahalli',
 'rajajinagar',
 'juganahalli',
 'mallasandra',
 'machohalli',
 'byadarahalli',
 'kurubarahalli',
 'krishnanandanagara',
 'laggere',
 'kamakshipalya',
 'chikkabidarakallu',
 'kamakshipalya',
 'krishnanandanagara',
 'laggere',
 'rajajinagar',
 'shivanagara',
 'byadarahalli',
 'chikkabidarakallu',
 'laggere',
 'malleswaram',
 'prakashnagara',
 'sheshadripuram',
 'sheshadripuram',
 'malleswaram',
 'malleswaram',
 'sheshadripuram',
 'malleswaram',
 'yashwanthpura',
 'jalahalli',
 'jalahalli',
 'jalahalli',
 'malleswaram',
 'jalahalli',
 'yashwanthpura',
 'malleswaram',
 'malleswaram',
 'hebbal',
 'hebbal',
 'malleswaram',
 'sriramapura',
 'hebbal',
 'hebbal',
 'hebbal',
 'hebbal',
 'sriramapura',
 'sriramapura',
 'sriramapura',
 'sriramapura',
 'malleswaram',
 'malleswaram',
 'malleswaram',
 'malleswaram',
 'palace guttahalli',
 'palace guttahalli',
 'sheshadripuram',
 'yashwanthpura',
 'yashwanthpura',
 'prakashnagara',
 'prakashnagara',
 'malleswaram',
 'malleswaram',
 'malleswaram',
 'malleswaram',
 'prakashnagara',
 'prakashnagara',
 'malleswaram',
 'sheshadripuram',
 'yashwanthpura',
 'jalahalli',
 'jalahalli',
 'malleswaram',
 'malleswaram',
 'hebbal',
 'hebbal',
 'sheshadripuram',
 'hebbal',
 'sheshadripuram',
 'hebbal',
 'hebbal',
 'palace guttahalli',
 'hebbal',
 'palace guttahalli',
 'sriramapura',
 'malleswaram',
 'yashwanthpura',
 'malleswaram',
 'malleswaram',
 'malleswaram',
 'sheshadripuram',
 'sheshadripuram',
 'sriramapura',
 'yashwanthpura',
 'palace guttahalli',
 'prakashnagara',
 'k.b.sandra',
 'j.c nagar',
 'vasanthnagar',
 'j.c nagar',
 'j.c nagar',
 'k.b.sandra',
 'k.b.sandra',
 'oph road',
 'oph road',
 'oph road',
 'oph road',
 'oph road',
 'oph road',
 'k.b.sandra',
 'k.b.sandra',
 'k.b.sandra',
 'k.b.sandra',
 'k.b.sandra',
 'frazer town',
 'frazer town',
 'k.b.sandra',
 'frazer town',
 'k.b.sandra',
 'j.c nagar',
 'k.b.sandra',
 'j.c nagar',
 'j.c nagar',
 'j.c nagar',
 'frazer town',
 'k.b.sandra',
 'frazer town',
 'frazer town',
 'frazer town',
 'pottery town',
 'frazer town',
 'd.j.halli',
 'd.j.halli',
 'j.c nagar',
 'j.c nagar',
 'vasanthnagar',
 'banaswadi',
 'vasanthnagar',
 'vasanthnagar',
 'vasanthnagar',
 'banaswadi',
 'd.j.halli',
 'd.j.halli',
 'k.b.sandra',
 'j.c nagar',
 'banaswadi',
 'banaswadi',
 'd.j.halli',
 'frazer town',
 'frazer town',
 'frazer town',
 'frazer town',
 'j.c nagar',
 'k.b.sandra',
 'k.b.sandra',
 'k.b.sandra',
 'oph road',
 'oph road',
 'oph road',
 'pottery town',
 'pottery town',
 'pottery town',
 'pottery town',
 'vasanthnagar',
 'vasanthnagar',
 'vasanthnagar',
 'vasanthnagar',
 'frazer town',
 'j.c nagar',
 'vasanthnagar',
 'frazer town',
 'k.b.sandra',
 'pottery town',
 'banaswadi',
 'd.j.halli',
 'k.b.sandra',
 'oph road',
 'oph road',
 'k.b.sandra',
 'frazer town',
 'frazer town',
 'frazer town',
 'frazer town',
 'frazer town',
 'j.c nagar',
 'j.c nagar',
 'frazer town',
 'frazer town',
 'frazer town',
 'frazer town',
 'pottery town',
 'pottery town',
 'pottery town',
 'd.j.halli',
 'banaswadi',
 'banaswadi',
 'banaswadi',
 'vasanthnagar',
 'vasanthnagar',
 'j.c nagar',
 'vasanthnagar',
 'vasanthnagar',
 'banaswadi',
 'frazer town',
 'frazer town',
 'frazer town',
 'd.j.halli',
 'd.j.halli',
 'banaswadi',
 'banaswadi',
 'frazer town',
 'frazer town',
 'frazer town',
 'frazer town',
 'frazer town',
 'j.c nagar',
 'k.b.sandra',
 'oph road',
 'oph road',
 'pottery town',
 'vasanthnagar',
 'd.j.halli',
 'mathahalli',
 'kudragera',
 'kudragera',
 'kudragera',
 'mathahalli',
 'mathahalli',
 'kudragera',
 'kudragera',
 't dasarahalli',
 't dasarahalli',
 't dasarahalli',
 'kudragera',
 'maralukunte',
 'maralukunte',
 'yelehanka old town',
 'maralukunte',
 'agrahara layout',
 'agrahara layout',
 'yelehanka new town',
 'yelehanka new town',
 'chikkajala',
 'mathahalli',
 'kodigehalli',
 'mathahalli',
 'hunasamaranahalli',
 'hunasamaranahalli',
 'hunasamaranahalli',
 'hunasamaranahalli',
 'agrahara layout',
 'chikkajala',
 'mathahalli',
 'mathahalli',
 'kodigehalli',
 'chikkajala',
 'chikkajala',
 'chikkajala',
 'kakolu',
 'kodigehalli',
 'rajanakunte',
 'bagalur',
 'bagalur',
 'chikkajala',
 'agrahara layout',
 'bagalur',
 'bagalur',
 'bagalur',
 'agrahara layout',
 'yelehanka new town',
 'yelehanka new town',
 'bagalur',
 'yelehanka new town',
 'bagalur',
 'bagalur',
 'byatarayanapura',
 'hesarghatta',
 'hesarghatta',
 'agrahara layout',
 ...]

In [41]:
District_ = list(set(District))

# If you need to maintain the original order, you can use a loop and a new list:
District = []
for item in District_:
    if item not in District:
        District.append(item)
        
Cluster_ = list(set(Cluster))

# If you need to maintain the original order, you can use a loop and a new list:
Cluster = []
for item in Cluster_:
    if item not in Cluster:
        Cluster.append(item)
        
Block_ = list(set(Block))

# If you need to maintain the original order, you can use a loop and a new list:
Block = []
for item in Block_:
    if item not in Block:
        Block.append(item)
        
        
Assembly_ = list(set(Assembly))

# If you need to maintain the original order, you can use a loop and a new list:
Assembly = []
for item in Assembly_:
    if item not in Assembly:
        Assembly.append(item)

In [42]:
len(District)

4

In [44]:
df=pd.read_csv('house_rent_final.csv')

In [45]:
# # Cluster=Cluster
# # Block=Block
# # District=District
# Assembly=Assembly
result_list = []

for x in range(len(temp)):
    
    if temp[x] == District:
        result_list.append(1)
        
    elif temp[x] == Cluster:
        result_list.append(1)
        
    elif temp[x] == Block:
        result_list.append(1)
        
    elif temp[x] == Assembly:
        result_list.append(1)
        
    else:
        result_list.append(0)

In [46]:
count_1 = result_list.count(1)
count_0 = result_list.count(0)

print(f"Count of 1: {count_1}")
print(f"Count of 0: {count_0}")

Count of 1: 0
Count of 0: 3602

In [47]:
bus_stop=bus_stop['Ward Name'].values.flatten().tolist()

In [48]:
bus_stop_ = list(set(bus_stop))

# If you need to maintain the original order, you can use a loop and a new list:
bus_stop = []
for item in bus_stop_:
    if item not in bus_stop:
        bus_stop.append(item)

In [49]:
bus_stop

['Vijnanapura',
 'Hosahalli',
 0,
 'SK Garden',
 'Honga Sandra',
 'Padmanabha Nagar',
 'Manorayana Palya',
 'Banashankari Temple Ward',
 'Basavanapura',
 'Gangenahalli',
 'Chamraja Pet',
 'Kumara Swamy Layout',
 'Nagavara',
 'Madivala',
 'Hemmigepura',
 'Marappana Palya',
 'Dodda Bommasandra',
 'Nilasandra',
 'Kempapura Agrahara',
 'Gurappana Palya',
 'T Dasarahalli',
 'Mangammana Palya',
 'Ramaswamy Palya',
 'Sagayara Puram',
 'Vidya Peeta Ward',
 'Ganesh Mandir Ward',
 'Bommanahalli',
 'Jalahalli',
 'HSR Layout',
 'BTM Layout',
 'Chokkasandra',
 'A Narayanapura',
 'Binni Pete',
 'HBR Layout',
 'Marenahalli',
 'Dodda Bidarakallu',
 'Shettihalli',
 'Bharathi Nagar',
 'Garudachar palya',
 'Rayapuram',
 'Thanisandra',
 'Lakkasandra',
 'Chickpete',
 'Rajaji Nagar',
 'Shakambari Narar',
 'Gottigere',
 'Banasavadi',
 'Mahalakshmipuram',
 'Nayandahalli',
 'Katriguppe',
 'Maruthi Seva Nagar',
 'Jakkuru',
 'Konankunte',
 'Vijaya Nagar',
 'KR Puram',
 'Vidyaranyapura',
 'Jaya Nagar East',
 'Laggere',
 'Giri Nagar',
 'Sunkenahalli',
 'New Tippa Sandra',
 'Hegganahalli',
 'Siddapura',
 'Shanthi Nagar',
 'Deepanjali Nagar',
 'J P Park',
 'Byatarayanapura',
 'Vishveshwara Puram',
 'Muneshwara Nagar',
 'Kottegepalya',
 'Subhash Nagar',
 'Bapuji Nagar',
 'Adugodi',
 'Sarvagna Nagar',
 'Jeevanbhima Nagar',
 'Raja Rajeshawari Nagar',
 'Sarakki',
 'Pulakeshi Nagar',
 'Gali Anjenaya Temple Ward',
 'Shantala Nagar',
 'Nagarabhavi',
 'Vijnana Nagar',
 'Prakash Nagar',
 'Basaveshwara Nagar',
 'Jaya Nagar',
 'Sri Rama Mandir Ward',
 'Gandhi Nagar',
 'Uttarahalli',
 'Jaraganahalli',
 'HAL Airport',
 'Jnana Bharathi Ward',
 'Yeshwanthpura',
 'Lingarajapura',
 'HMT Ward',
 'Kadu Malleshwar Ward',
 'Dodda Nekkundi',
 'Lakshmi Devi Nagar',
 'Nagapura',
 'Sanjaya Nagar',
 'Jogupalya',
 'Kempegowda Ward',
 'Dr.Raj Kumar Ward',
 'Hoysala Nagar',
 'Ullalu',
 'Dharmaraya Swamy Temple',
 'Chowdeswari Ward',
 'Basavanagudi',
 'Arakere',
 'Konena Agrahara',
 'Kammanahalli',
 'Vannar Pet',
 'Azad Nagar',
 'Chikkala Sandra',
 'Mallasandra',
 'Kari Sandra',
 'Marathahalli',
 'Hosakerehalli',
 'Shakthi Ganapathi Nagar',
 'Benniganahalli',
 'Shankar Matt',
 'Raj Mahal Guttahalli',
 'Cottonpete',
 'Gayithri Nagar',
 'Hagadur',
 'Subramanya Nagar',
 'Shiva Nagar',
 'Bilekhalli',
 'Maruthi Mandir Ward',
 'Pattabhi Ram Nagar',
 'Jakka Sandra',
 'Peenya Industrial Area',
 'Jaya Mahal',
 'Kacharkanahalli',
 'Bellanduru',
 'C.V. Raman Nagar',
 'Kuvempu Nagar',
 'Okalipuram',
 'Sudham Nagar',
 'Ejipura',
 'Aramane Nagara',
 'Dattatreya Temple Ward',
 'Puttenahalli',
 'Hudi',
 'Yelahanka Satellite Town',
 'Vasanthpura',
 'Nandini Layout',
 'Jagajivanaram Nagar',
 'Kaval Bairasandra',
 'Agaram',
 'Yelchenahalli',
 'Ganga Nagar',
 'Suddagunte Palya',
 'Hombegowda Nagar',
 'Anjanapura',
 'Padarayanapura',
 'Malleshwaram',
 'Mattikere',
 'KR Market',
 'Hanumanth Nagar',
 'Sampangiram Nagar',
 'Mudalapalya',
 'Shivaji Nagar',
 'Radhakrishna Temple Ward',
 'Yediyur',
 'Devara Jeevanahalli',
 'Herohalli',
 'Begur',
 'Kaveripura',
 'Horamavu',
 'Vrisahbhavathi Nagar',
 'Attiguppe',
 'Hebbala',
 'Sri Nagar',
 'Koramangala',
 'Kushal Nagar',
 'Devasandra',
 'Varthur',
 'Govindaraja Nagar',
 'Atturu',
 'Ramamurthy Nagar',
 'Kadugondanahalli',
 'Agrahara Dasarahalli',
 'Hampi Nagar',
 'Chelavadi Palya',
 'Vasanth Nagar',
 'Singa Sandra',
 'Halsoor',
 'Dayananda Nagar',
 'Kamakshipalya',
 'Kengeri',
 'Vishwanath Nagenahalli',
 'Byra Sandra',
 'JP Nagar',
 'Kodigehalli',
 'Rajagopal Nagar',
 'Kadugodi',
 'Domlur',
 'Jayachamarajendra Nagar',
 'Bagalakunte']

In [50]:

bus_stop = []
for x in range(len(temp)):
    if temp[x] == bus_stop:
        bus_stop.append(1)
    else:
        bus_stop.append(0)

In [51]:
count_1 = bus_stop.count(1)
count_0 = bus_stop.count(0)

print(f"Count of 1: {count_1}")
print(f"Count of 0: {count_0}")

Count of 1: 0
Count of 0: 3602

In [52]:
park=pd.read_csv('park.csv')

In [53]:
park=park['Ward Name'].values.flatten().tolist()

In [54]:
len(park)

199

In [55]:
park_ = list(set(park))

# If you need to maintain the original order, you can use a loop and a new list:
park = []
for item in park_:
    if item not in park:
        park.append(item)

In [56]:
park1 = [1 if x in park else 0 for x in temp]

In [57]:
count_1 = park1.count(1)
count_0 = park1.count(0)

print(f"Count of 1: {count_1}")
print(f"Count of 0: {count_0}")

Count of 1: 501
Count of 0: 3101

In [61]:
Playgrounds=pd.read_csv('Playgrounds.csv')
Playgrounds=Playgrounds['Ward Name'].values.flatten().tolist()
len(Playgrounds)

199

In [62]:
Playgrounds

['Kempegowda Ward',
 'Chowdeswari Ward',
 'Atturu',
 'Yelahanka Satellite Town',
 'Jakkuru',
 'Thanisandra',
 'Byatarayanapura',
 'Kodigehalli',
 'Vidyaranyapura',
 'Dodda Bommasandra',
 'Kuvempu Nagar',
 'Shettihalli',
 'Mallasandra',
 'Bagalakunte',
 'T Dasarahalli',
 'Jalahalli',
 'J P Park',
 'Radhakrishna Temple Ward',
 'Sanjaya Nagar',
 'Ganga Nagar',
 'Hebbala',
 'Vishwanath Nagenahalli',
 'Nagavara',
 'HBR Layout',
 'Horamavu',
 'Ramamurthy Nagar',
 'Banasavadi',
 'Kammanahalli',
 'Kacharkanahalli',
 'Kadugondanahalli',
 'Kushal Nagar',
 'Kaval Bairasandra',
 'Manorayana Palya',
 'Gangenahalli',
 'Aramane Nagara',
 'Mattikere',
 'Yeshwanthpura',
 'HMT Ward',
 'Chokkasandra',
 'Dodda Bidarakallu',
 'Peenya Industrial Area',
 'Lakshmi Devi Nagar',
 'Nandini Layout',
 'Marappana Palya',
 'Malleshwaram',
 'Jayachamarajendra Nagar',
 'Devara Jeevanahalli',
 'Muneshwara Nagar',
 'Lingarajapura',
 'Benniganahalli',
 'Vijnanapura',
 'KR Puram',
 'Basavanapura',
 'Hudi',
 'Devasandra',
 'A Narayanapura',
 'C.V. Raman Nagar',
 'New Tippa Sandra',
 'Maruthi Seva Nagar',
 'Sagayara Puram',
 'SK Garden',
 'Ramaswamy Palya',
 'Jaya Mahal',
 'Raj Mahal Guttahalli',
 'Kadu Malleshwar Ward',
 'Subramanya Nagar',
 'Nagapura',
 'Mahalakshmipuram',
 'Laggere',
 'Rajagopal Nagar',
 'Hegganahalli',
 'Herohalli',
 'Kottegepalya',
 'Shakthi Ganapathi Nagar',
 'Shankar Matt',
 'Gayithri Nagar',
 'Dattatreya Temple Ward',
 'Pulakeshi Nagar',
 'Sarvagna Nagar',
 'Hoysala Nagar',
 'Vijnana Nagar',
 'Garudachar palya',
 'Kadugodi',
 'Hagadur',
 'Dodda Nekkundi',
 'Marathahalli',
 'HAL Airport',
 'Jeevanbhima Nagar',
 'Jogupalya',
 'Halsoor',
 'Bharathi Nagar',
 'Shivaji Nagar',
 'Vasanth Nagar',
 'Gandhi Nagar',
 'Subhash Nagar',
 'Okalipuram',
 'Dayananda Nagar',
 'Prakash Nagar',
 'Rajaji Nagar',
 'Basaveshwara Nagar',
 'Kamakshipalya',
 'Vrisahbhavathi Nagar',
 'Kaveripura',
 'Govindaraja Nagar',
 'Agrahara Dasarahalli',
 'Dr.Raj Kumar Ward',
 'Shiva Nagar',
 'Sri Rama Mandir Ward',
 'Chickpete',
 'Sampangiram Nagar',
 'Shantala Nagar',
 'Domlur',
 'Konena Agrahara',
 'Agaram',
 'Vannar Pet',
 'Nilasandra',
 'Shanthi Nagar',
 'Sudham Nagar',
 'Dharmaraya Swamy Temple',
 'Cottonpete',
 'Binni Pete',
 'Kempapura Agrahara',
 'Vijaya Nagar',
 'Hosahalli',
 'Marenahalli',
 'Maruthi Mandir Ward',
 'Mudalapalya',
 'Nagarabhavi',
 'Jnana Bharathi Ward',
 'Ullalu',
 'Nayandahalli',
 'Attiguppe',
 'Hampi Nagar',
 'Bapuji Nagar',
 'Padarayanapura',
 'Jagajivanaram Nagar',
 'Rayapuram',
 'Chelavadi Palya',
 'KR Market',
 'Chamraja Pet',
 'Azad Nagar',
 'Sunkenahalli',
 'Vishveshwara Puram',
 'Siddapura',
 'Hombegowda Nagar',
 'Lakkasandra',
 'Adugodi',
 'Ejipura',
 'Varthur',
 'Bellanduru',
 'Koramangala',
 'Suddagunte Palya',
 'Jaya Nagar',
 'Basavanagudi',
 'Hanumanth Nagar',
 'Sri Nagar',
 'Gali Anjenaya Temple Ward',
 'Deepanjali Nagar',
 'Kengeri',
 'Raja Rajeshawari Nagar',
 'Hosakerehalli',
 'Giri Nagar',
 'Katriguppe',
 'Vidya Peeta Ward',
 'Ganesh Mandir Ward',
 'Kari Sandra',
 'Yediyur',
 'Pattabhi Ram Nagar',
 'Byra Sandra',
 'Jaya Nagar East',
 'Gurappana Palya',
 'Madivala',
 'Jakka Sandra',
 'HSR Layout',
 'Bommanahalli',
 'BTM Layout',
 'JP Nagar',
 'Sarakki',
 'Shakambari Narar',
 'Banashankari Temple Ward',
 'Kumara Swamy Layout',
 'Padmanabha Nagar',
 'Chikkala Sandra',
 'Uttarahalli',
 'Yelchenahalli',
 'Jaraganahalli',
 'Puttenahalli',
 'Bilekhalli',
 'Honga Sandra',
 'Mangammana Palya',
 'Singa Sandra',
 'Begur',
 'Arakere',
 'Gottigere',
 'Konankunte',
 'Anjanapura',
 'Vasanthpura',
 'Hemmigepura',
 nan]

In [63]:
Playgrounds_ = list(set(Playgrounds))

# If you need to maintain the original order, you can use a loop and a new list:
Playgrounds = []
for item in Playgrounds_:
    if item not in Playgrounds:
        Playgrounds.append(item)

In [64]:
Playgrounds1 = [1 if x in Playgrounds else 0 for x in temp]

In [65]:
len(Playgrounds1)

3602

In [66]:
count_1 = Playgrounds1.count(1)
count_0 = Playgrounds1.count(0)

print(f"Count of 1: {count_1}")
print(f"Count of 0: {count_0}")

Count of 1: 501
Count of 0: 3101

In [67]:
school=result_list

In [68]:
df['school']=school
df['bus_stop']=bus_stop
df['park1']=park1
df['Playgrounds1']=Playgrounds1

In [69]:
df

,Unnamed: 0,Listing Type,Property Type,Building Type,City,Locality,Area,Rent,Furnishing Status,Number of Rooms,...,Total Floor Count,Balcony,Open/Uncovered Parking,Deposit amount,crime,hospital,school,bus_stop,park1,Playgrounds1
0,0,Rent,Residential,Apartment,Bangalore,Whitefield,1190 Sq.Ft. (Carpet Area),"75,000",Semi-Furnished,3.5,...,19,Connected,NaN,480000,no,no,0,0,0,0
1,1,Rent,Residential,Apartment,Bangalore,Devanahalli,1250 Sq.Ft. (Built-up Area),"30,000",Semi-Furnished,2,...,24,Connected,1,200000,no,no,0,0,0,0
2,2,Rent,Residential,Apartment,Bangalore,Kadubeesanahalli,1184 Sq.Ft. (Saleable Area),"52,000",Semi-Furnished,NaN,...,Ground floor,NaN,NaN,300000,no,no,0,0,0,0
3,3,Rent,Residential,Apartment,Bangalore,Ashok Nagar,1250 Sq.Ft. (Built-up Area),"60,000",Furnished,2,...,5,"Connected,Room-attached",NaN,500000,no,no,0,0,0,0
4,4,Rent,Residential,Apartment,Bangalore,Devanahalli,1700 Sq.Ft. (Built-up Area),"31,000",Semi-Furnished,3,...,14,Individual,1,200000,no,no,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3597,3603,Rent,Residential,Apartment,Bangalore,Hebbal,1664 Sq.Ft. (Carpet Area),"10,000",Semi-Furnished,3,...,3,Room-attached,NaN,200000,no,no,0,0,0,0
3598,3604,Rent,Commercial,Office Space,Bangalore,Residency Road,1499 Sq.Ft. (Built-up Area),NaN,Unfurnished,NaN,...,NaN,NaN,NaN,NaN,no,no,0,0,0,0
3599,3605,Rent,Residential,Apartment,Bangalore,Yelahanka,1892 Sq.Ft. (Saleable Area),"45,000",Semi-Furnished,3,...,12,NaN,NaN,400000,no,no,0,0,0,0
3600,3606,Rent,Residential,Apartment,Bangalore,Kudlu,600 Sq.Ft. (Built-up Area),"20,000",Furnished,1,...,4,Connected,1,120000,no,no,0,0,0,0
3601,3607,Rent,Residential,Apartment,Bangalore,Doddanekundi,650 Sq.Ft. (Built-up Area),"20,000",Furnished,1,...,6,NaN,NaN,80000,no,no,0,0,0,0

In [70]:
df

,Unnamed: 0,Listing Type,Property Type,Building Type,City,Locality,Area,Rent,Furnishing Status,Number of Rooms,...,Total Floor Count,Balcony,Open/Uncovered Parking,Deposit amount,crime,hospital,school,bus_stop,park1,Playgrounds1
0,0,Rent,Residential,Apartment,Bangalore,Whitefield,1190 Sq.Ft. (Carpet Area),"75,000",Semi-Furnished,3.5,...,19,Connected,NaN,480000,no,no,0,0,0,0
1,1,Rent,Residential,Apartment,Bangalore,Devanahalli,1250 Sq.Ft. (Built-up Area),"30,000",Semi-Furnished,2,...,24,Connected,1,200000,no,no,0,0,0,0
2,2,Rent,Residential,Apartment,Bangalore,Kadubeesanahalli,1184 Sq.Ft. (Saleable Area),"52,000",Semi-Furnished,NaN,...,Ground floor,NaN,NaN,300000,no,no,0,0,0,0
3,3,Rent,Residential,Apartment,Bangalore,Ashok Nagar,1250 Sq.Ft. (Built-up Area),"60,000",Furnished,2,...,5,"Connected,Room-attached",NaN,500000,no,no,0,0,0,0
4,4,Rent,Residential,Apartment,Bangalore,Devanahalli,1700 Sq.Ft. (Built-up Area),"31,000",Semi-Furnished,3,...,14,Individual,1,200000,no,no,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3597,3603,Rent,Residential,Apartment,Bangalore,Hebbal,1664 Sq.Ft. (Carpet Area),"10,000",Semi-Furnished,3,...,3,Room-attached,NaN,200000,no,no,0,0,0,0
3598,3604,Rent,Commercial,Office Space,Bangalore,Residency Road,1499 Sq.Ft. (Built-up Area),NaN,Unfurnished,NaN,...,NaN,NaN,NaN,NaN,no,no,0,0,0,0
3599,3605,Rent,Residential,Apartment,Bangalore,Yelahanka,1892 Sq.Ft. (Saleable Area),"45,000",Semi-Furnished,3,...,12,NaN,NaN,400000,no,no,0,0,0,0
3600,3606,Rent,Residential,Apartment,Bangalore,Kudlu,600 Sq.Ft. (Built-up Area),"20,000",Furnished,1,...,4,Connected,1,120000,no,no,0,0,0,0
3601,3607,Rent,Residential,Apartment,Bangalore,Doddanekundi,650 Sq.Ft. (Built-up Area),"20,000",Furnished,1,...,6,NaN,NaN,80000,no,no,0,0,0,0

In [83]:
df.to_csv('file__3.csv')